[2019-01-19 00:32] wsalesky opened #1 "Cardinality issue caused by multiple forenames"
Reported by @tonyahowe via email.

[2019-03-15 13:45] wsalesky opened #3 "Design home page, colors and fonts."
A discussion area for the look and feel of the website. Current design:
<img width="1421" alt="Screen Shot 2019-03-15 at 9 41 34 AM" src="https://user-images.githubusercontent.com/1168206/54435310-92378a00-4706-11e9-965f-0db29f07082c.png">

This is felt to be to close to the Early Novels Database (https://earlynovels.github.io/), very similar endpaper color.

Options:
1.
<img width="1432" alt="Scr

[2019-03-15 13:49] wsalesky opened #4 "Footer"
Images and copyright statement.

[2019-03-15 13:50] wsalesky commented on #4
Images have been added, we need a copyright statement that satisfies UVa and Marymount intellectual property rights policies.

[2019-03-15 13:50] wsalesky opened #5 "Top Nav - add contributors"

[2019-03-15 13:51] tonyahowe commented on #3
@jobrien62, I am torn between options 1 and 2--1 is more colorful and uses fabric from the period, gesturing toward materiality and context. 2 I like for the endpaper/printing connection. Either would be great--which do you prefer?

[2019-03-15 13:51] wsalesky commented on #5
Done. This is for tracking purpose.

[2019-03-15 13:51] #5 closed

[2019-03-15 13:51] wsalesky opened #6 "Browse"
Add facets to browse, keep group by author. Load group by author dynamically to keep load time fast.

[2019-03-15 13:52] wsalesky commented on #6
Done.

[2019-03-15 13:52] #6 closed

[2019-03-15 13:53] wsalesky opened #7 "Search tool in browse"
The search tool in browse is a little counter-intuitive to use, because of the shared blue color of the search icon and the “create new coursepack” button. Can we have a “search” button beside the “include annotations” checkbox, and then have the coursepack creation features in a place of their own?

[2019-03-15 13:54] wsalesky commented on #7
This has been resolved by moving the coursepack functions out of the search box. @tonyahowe @jobrien62 you may close this if you like the new structure. Otherwise, add comments below.

[2019-03-15 13:55] wsalesky opened #8 "Keyword search"
Searching: the keyword search (both the top most search bar and the more specific one on the right hand of the browse page) doesn’t find authors--for instance, doing a keyword search for “finch” returns nothing. Shouldn’t it return for authors, too? Or no?

[2019-03-15 13:55] wsalesky commented on #8
Fixed on dev. @tonyahowe @jobrien62 please check.

[2019-03-15 13:57] wsalesky opened #9 "Add to coursepack bug"
Adding selected search results to new coursepack seems to double the selected items; see screenshot. But, the contents of the coursepack are not actually doubled.

[2019-03-15 13:57] wsalesky commented on #9
Have not been able to reproduce yet.

[2019-03-15 13:58] wsalesky opened #10 "Automate homepage slides"
How do the “featured coursepacks” get into the scrolling river/splash page? Can this be automated somehow (set featured coursepack? Perhaps in the xml itself? Or some easier way?) How about featured image?

[2019-03-15 13:59] wsalesky commented on #10
I have added this feature. You can ‘Build’ the slide deck on the home page in the repo-config.xml file.
Each slide is identified by a type, current types are:
text - This can be encoded in HTML and will just be copied into the slide, any valid XHTML can be included here.
coursepack - Identify a cousepack by coursepack ID
work - Identify work by the work path (from the website: /work/Behn/Behn_Rove

[2019-03-15 14:01] wsalesky commented on #10
From @jobrien62 - The featured works or perhaps newest additions would be good.
From @tonyahowe - featured works (or authors?) and recently added works would
be grand.

[2019-03-15 14:01] wsalesky opened #11 "Shorter source descriptions."
In list of works (either in coursepack, or in list of titles) the spacing and content is a bit overwhelming. Can it be shortened for display? Instead of:

[2019-03-15 14:02] wsalesky commented on #11
@tonyahowe @jobrien62
Done. Close after review.

[2019-03-15 14:02] wsalesky opened #12 "Contributor name in annotation"
Can we display the name of the author of the annotation somehow? Pulled from @resp=”editors.xml#AF”? Probably in brackets at the end of the annotation, like this [Ally Freeland] or [AF]

Could that included contributor info become a link to their section in the contributors/editors page? See editors/contributors #4 below!

[2019-03-15 14:02] wsalesky commented on #12
@tonyahowe @jobrien62
Done. Close after review.

[2019-03-15 14:03] wsalesky opened #13 "Work toolbar"
Really love the expanding items at the top of the text display page to toggle “sources” and “notes”! Can we rename to “Source Texts” and “Editorial Statements”?

[2019-03-15 14:03] wsalesky commented on #13
@tonyahowe @jobrien62  Done. Close on review.

[2019-03-15 14:04] wsalesky opened #14 "Print/screen displays"
Can we add different displays for screen reading and for printing? In the screen reading options (viewing an expanded coursepack or reading a single text), notes should be displayed in line, but for printing/PDF, they should be footnotedn001 and displayed at the bottom of each page.

[2019-03-15 14:04] wsalesky opened #15 "Add endnote"
Could we also add endnote display as an option for printing/saving to PDF?

[2019-03-15 14:05] wsalesky commented on #15
@tonyahowe @jobrien62
Are you aware of any sites that describe the endnote format that I can use to add this output? Or is there an API?

[2019-03-15 14:05] wsalesky opened #16 "PDF display, work and coursepack"
View PDF of coursepacks doesn’t seem to be displaying anything--the PDF has an empty “table of contents” on the second page, pagination, but no text (see SS from acrobat to right).

[2019-03-15 14:05] wsalesky commented on #16
In progress.

[2019-03-15 14:06] wsalesky opened #17 "Work toolbar list/expand"
List and expand items in coursepack--can we simplify that and make the two buttons a single toggle?

[2019-03-15 14:06] wsalesky commented on #17
Done

[2019-03-15 14:06] #17 closed

[2019-03-15 14:07] wsalesky opened #18 "Editors/contributors"
New page for editors and contributors.

We need a page (linked from the top nav structure) to editor/contributor information.

On that page, can we have a list of all the editors/contributors identified in editors.xml?

It would also be helpful to include counts for annotations contributed and texts contributed to, with links. Do you think the annotations should be displayed somehow, John and Chri

[2019-03-15 14:08] wsalesky commented on #18
@wsalesky @jobrien62 Added. Close if approve.

[2019-03-15 14:19] tonyahowe commented on #12
Thanks, Winona!

[2019-03-15 14:19] #12 closed

[2019-03-15 14:55] jobrien62 commented on #4
In the TEI?

[2019-03-15 14:57] wsalesky commented on #4
Sorry the footer/credits for the website. (Not the TEI)

[2019-03-15 15:00] jobrien62 commented on #3
I like the color of 1, and the way it plays on “text”/“texture.” 2 has the more obvious link, though, to the materiality of books themselves. But (and here I have the counsel of my wife, who is seeing this for the very first time) the red color in the fabric is so beautiful and eye-catching that I’m inclined to lean towards it. It’s more inviting. John

[2019-03-15 15:03] jobrien62 commented on #4
OK; I think that we’ll have to punt this for now (this is not going public in any way). For images within texts, we can put credits in the TEI; I’ve been getting things that are public domain or where non-profit use rights have been obtained. But the copyright question for the site as a whole, I’m not sure how to word it, since we have two institutions involved. Chris might have guidelines—is she

[2019-03-15 15:24] tonyahowe commented on #4
I was thinking a CC-BY-SA-NC to cover the students; that would fit with both MU and UVA policies. It might also work for the other materials, too, provided credit is given in the texts, likely in annotations where other materials are referred to.

Sent from my mobile; please forgive typos

[2019-03-15 15:25] tonyahowe commented on #3
Let’s do it! #1 it is!

Sent from my mobile; please forgive typos

[2019-03-15 15:26] jobrien62 commented on #4
Yes, that should work. Here’s the link to the page with their logo: https://creativecommons.org/choose/results-one?license_code=by-nc-sa&amp;jurisdiction=&amp;version=2.0&amp;lang=en

[2019-03-15 15:55] wsalesky commented on #4
Tagging @cruotolo

[2019-03-15 15:55] wsalesky commented on #3
Tagging @cruotolo

[2019-03-15 18:29] jobrien62 commented on #18
I think this works. How are we adding new contributors? I have some names to add; is there an easy way to add this information (now and going forward)?

[2019-03-15 18:30] jobrien62 opened #19 "author list"
The list of authors is currently alphabetical by first name--can we make this alphabetical by last name easily? I suspect most people will look for authors in the first instance that way.

[2019-03-15 18:46] cruotolo commented on #4
I'm checking with Brandon Butler about specific language for the copyright statement in the footer.

[2019-03-15 18:48] cruotolo commented on #8
Working now for me on dev.

[2019-03-15 19:07] jobrien62 commented on #14
This would be pretty awesome. We had spoken of this, I think, on a conference call a while back, with the idea that when reading in-line, the notes would appear as highlighted or differently colored texts, with the pdf version then having more conventional numerical notes, tied to footnotes. If this is possible, fantastic.

[2019-03-15 19:09] jobrien62 commented on #13
I like it, but we might just need "Editorial Statement" (when it reads "statements" I was looking for something else to click on to get a second, third, fourth statement, etc.

[2019-03-15 19:11] jobrien62 commented on #7
OK by me
!

[2019-03-15 19:12] jobrien62 commented on #8
me too

[2019-03-15 19:12] #8 closed

[2019-03-15 19:14] jobrien62 commented on #10
OK, fantastic. We should test this, but I like the flexibility very much. Thanks.

[2019-03-15 19:18] jobrien62 commented on #19
accidentally assigned myself to this, but need a larger conversation....

[2019-03-15 20:14] tonyahowe commented on #19
I agree—the names in the TEI had been all in one <persName> but now it’s separated into <surname> and <forename>. Now it’s possible to do Behn, Aphra (dates) in the browse by author page. Later we can consider adding a sort by last name or date, too!

Sent from my mobile; please forgive typos

[2019-03-15 21:15] cruotolo commented on #4
Brandon suggested this language: "Original content on this site created by its authors is licensed under a CC-BY 4.0 International License. That license does not apply to third-party material. Copyright information regarding third party material is noted in context wherever possible."  It looks great to me -- what do you all think?

[2019-03-15 21:30] tonyahowe commented on #4
I think that sounds perfect! Thanks, Chris!

On Fri, Mar 15, 2019 at 5:15 PM cruotolo <notifications@github.com> wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.english/> | LinkedIn

[2019-03-15 21:31] jobrien62 commented on #4
Great!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Tonya Howe <notifications@github.com>
Sent: Friday, March 15, 2019 5:30 PM
To: LiteratureInContext/LiC-app
Cc: O'Brien, John F (jo6p); Assign
Subject: Re: [LiteratureInContext/LiC-app] Footer (#4)

I think that sounds perfect! Thanks, Chris!

On Fri, Mar 15, 2019 at 5:15 PM cruotolo <notifications@github.com

[2019-03-15 23:17] #11 closed

[2019-03-15 23:26] tonyahowe commented on #18
@jobrien62 We add details for contributors in editors.xml; then, reference them in the `<note>`s and the `<teiHeader>` as follows:

In `<teiHeader>`:
[code]

And in `<note>s`:

[code]

[2019-03-15 23:27] tonyahowe commented on #9
I think you mentioned this had been fixed a while ago! :)

[2019-03-15 23:30] tonyahowe commented on #13
@jobrien62 I was imagining the individual editorial components as referenced in the teiHeader--the normalization statement, the research statement, and so on. I wonder if it will confuse others? Perhaps something to ask our outside readers, too!

[2019-03-15 23:36] tonyahowe opened #20 "Publication Dates"
Is it possible to zero in on the publication dates a bit more granularly? All of our texts (for the time being) should have been published between 1660 and 1830 (ish). Perhaps using ten-year chunks instead of twenty-five-year chunks? This is also a TEI problem in that the publication information in the xml files isn't always there/consistent.

I'll tag @brinascode and @sb8wb to help out with this

[2019-03-15 23:47] tonyahowe commented on #7
This is a little issue, but can we change the text of "create new coursepack" to "create coursepack from selected"? and "add selected to coursepack"? Or is it just me? :-/

[2019-03-15 23:52] tonyahowe commented on #14
This is definitely a great enhancement.

[2019-03-15 23:57] tonyahowe commented on #15
I think we're thinking of the endnote as just like the footnote, but placed at the end of the printable file instead of at the bottom of each page. This is related to #14 -- multiple ways to engage with the reading of the text. @jobrien62 does that make sense?

[2019-03-16 00:17] wsalesky commented on #20
@tonyahowe Yes, we can make the intervals and the time span what ever you like. I also have a date slider function you could use if you prefer.

Example: https://architecturasinica.org/research-tool.html

[2019-03-17 16:09] wsalesky commented on #14
@jobrien62 @tonyahowe Just to clarify, for the screen you would like the text with the `tei:ref` highlighted or in different color, do you want the footnote numbers as superscript as well, or should those be hidden? Currently the page looks like this:
<img width="1104" alt="Screen Shot 2019-03-17 at 12 07 36 PM" src="https://user-images.githubusercontent.com/1168206/54494123-71f5ff80-48ad-11e9-861

[2019-03-17 16:10] wsalesky commented on #19
Sure, should the display also be last name, first name (dates)?

[2019-03-17 18:19] tonyahowe commented on #14
Yes! I believe the idea was to show them as underlined links for screen reading (viewing each text or the coursepack), but visible note numbers for more traditional print reading (the coursepack pdf, and the print individual texts).

Sent from my mobile; please forgive typos

[2019-03-17 18:38] jobrien62 commented on #14
Yes, that’s the idea.

I was able to get the pdf option to work great, by the way, on Pope, which I did some work on last night. John

[2019-03-17 18:38] jobrien62 commented on #19
Yes, if possible.

[2019-03-18 14:09] wsalesky commented on #19
@jobrien62 @tonyahowe TEI clarification question. Which tei:author should I use for display? The one in the tei:titleStmt or the one in the tei:sourceDesc

Thanks.

[2019-03-18 14:13] wsalesky commented on #18
@jobrien62 @tonyahowe I think this can be closed.

[2019-03-18 14:13] #18 closed

[2019-03-18 15:15] wsalesky commented on #14
@jobrien62 @tonyahowe This has been added. See:
https://anthologydev.lib.virginia.edu/work/Bradstreet/bradstreet-childhood
as an example.  You may close this if it looks good.

[2019-03-18 15:20] wsalesky commented on #7
Done. It makes the buttons a little longer, which could be problematic on smaller screens, but we can adjust if it becomes an issue.

[2019-03-18 15:20] #7 closed

[2019-03-18 15:40] wsalesky commented on #4
Added

[2019-03-18 15:40] #4 closed

[2019-03-18 15:41] wsalesky commented on #16
This is up on the dev site. Add individual issues as needed.

[2019-03-18 15:41] #16 closed

[2019-03-18 15:41] wsalesky commented on #1
I don't see this causing a problem any more.

[2019-03-18 15:41] #1 closed

[2019-03-18 15:48] wsalesky commented on #3
Done.

[2019-03-18 15:48] #3 closed

[2019-03-18 16:47] wsalesky opened #21 "Clear search on coursepack goes to main search, not coursepack"
Need to just clear parameters from referring URL

[2019-03-18 17:49] tonyahowe opened #22 "list view of collaborator annotations"
It looks like the wonderful list of all the annotations written by each contributor (which had been visible when each text was expanded) seems to have disappeared.

[2019-03-18 17:58] wsalesky commented on #22
Yes, I noticed this. It is actually just for editors that do not have an `xml:id `assigned in the editor.xml file. If you click on your name that should still expand.

[2019-03-18 18:09] wsalesky commented on #20
I updated this.

[2019-03-18 18:11] wsalesky opened #23 "Added contributor facet"
@tonyahowe @jobrien62 I added a contributor facet to the browse/search right hand menu. If you like it we can keep it, if you find it is too busy we can turn it off by commenting out this code here: https://github.com/LiteratureInContext/LiC-app/blob/design/facet-def.xml#L43

[2019-03-18 20:07] tonyahowe commented on #20
Thanks! We are working, slowly, on making sure the sourceDesc has the correct analytic and bibliographic elements to make use of this.

[2019-03-18 20:09] tonyahowe commented on #19
I think the tei:author, unless there's a reason not to. We duplicated it because the sourceDesc is a description of the whole object, analytic and monograph.

[2019-03-18 21:10] jobrien62 commented on #14
It doesn't quite work yet. On the web, the note number pops up, but not the note itself, at least when I try, on this example and on others.

[2019-03-18 23:00] wsalesky commented on #14
Ops. Sorry bug in the javascript. Should work now.

[2019-03-18 23:07] #21 closed

[2019-03-18 23:27] wsalesky commented on #19
Okay. This should be set. Reopen if I missed anything.

[2019-03-18 23:27] #19 closed

[2019-03-18 23:29] wsalesky commented on #20
Okay. You can close this if you would like.

[2019-03-19 12:53] wsalesky commented on #15
Can you give me an example, pick a work and mock up how you would like it to appear? Thanks!

[2019-03-19 12:55] wsalesky opened #24 "Merge into Master"
@tonyahowe @jobrien62 @cruotolo

I would like to merge the design branch into the main codebase tomorrow if you are good with the changes.

[2019-03-19 16:14] tonyahowe opened #25 "PDF not generating?"
When clicking into the PDF view of the ROVER text, the following error appears:
![Screen Shot 2019-03-19 at 12 12 51 PM](https://user-images.githubusercontent.com/1153464/54622742-7bfc3780-4a40-11e9-9682-4f59856e0686.png)

[2019-03-19 16:20] tonyahowe opened #26 "Spacing of splash image and text on large display"
On a big screen (wide), the first splash image doesn't quite display correctly; when we resize the page, it does. Not sure if this is a big issue for now.... :)

![Screen Shot 2019-03-19 at 12 19 07 PM](https://user-images.githubusercontent.com/1153464/54623154-5cb1da00-4a41-11e9-85ce-8a4492c9a3e0.png)

[2019-03-19 16:29] tonyahowe commented on #26
The text block is also missing some information; is there a way to ensure that all the text gets on there? I've condensed it a bit:

If we can't get the text and the image on one rotating page, perhaps we can put the text on the first page, and the image by itself on the second?

[2019-03-19 16:50] tonyahowe commented on #22
Thanks!

[2019-03-19 16:50] #22 closed

[2019-03-19 17:33] wsalesky commented on #26
@tonyahowe That image is a little tricky on the splash page. The slides are a fixed height (400px) with no scrolling, a part of a javascript library. We could change the height of the slides if you like?

[2019-03-19 17:53] #25 closed

[2019-03-19 17:54] #23 closed

[2019-03-20 15:27] tonyahowe opened #27 "Social media and contact info"
Can we add twitter, github, and email links to the footer? Links should be commented out in page.html! Thank you!!

[2019-03-21 02:44] tonyahowe opened #28 "Images"
The images that are available on github.com/tonyahowe/LiC are working as expected, but those in AWS S3 staging bucket are not--see franklin-autobiography.xml

[2019-03-21 12:51] wsalesky commented on #28
Fixed. But we need to standardize how it is coded in the XML so I can change the image base root to stop using GitHub (see: https://github.com/LiteratureInContext/LiC-app/blob/development/repo-config.xml#L21)

Also Dave set up a nicer URL for us to use for the assets if you want the full URL's in the TEI:

Let me know if you have any questions.

[2019-03-21 13:23] wsalesky opened #29 "Slow contributors display."

[2019-03-21 13:24] wsalesky commented on #29
Fixed.

[2019-03-21 13:24] #29 closed

[2019-03-21 13:41] wsalesky commented on #27
Added. I also added them to the last slide for the homepage.

[2019-03-21 13:41] #27 closed

[2019-03-21 13:45] wsalesky commented on #26
@tonyahowe I think this can be closed?

[2019-03-21 15:36] tonyahowe commented on #26
Yes, thanks!

[2019-03-21 15:36] #26 closed

[2019-03-21 22:47] tonyahowe commented on #28
Thanks, Winona! We'll work on that when we return!

[2019-03-21 22:48] tonyahowe commented on #15
I think what you've done works well, especially for now! 👍

[2019-03-21 22:48] #15 closed

[2019-03-21 23:21] tonyahowe commented on #14
Wonderful--thank you! In the future we'd probably like to make some changes to the way the PDF looks, like removing the underlining, adding authors and pub details in the TOC, and so on. But I think we can close this for now! 👍

[2019-03-21 23:21] #14 closed

[2019-03-22 11:58] jobrien62 commented on #28
OK, good; thanks for fixing things for now. John

Sent from my iPad

On Mar 21, 2019, at 4:47 PM, Tonya Howe <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks, Winona! We'll work on that when we return!

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/LiteratureInContext/LiC-app/issues/28#issuecomment-4

[2019-03-22 14:30] tonyahowe opened #30 "Sort by"
The sort by date feature doesn't seem to work, though this is also probably a problem in the data. Can we add a sort by date ascending/descending?

Regarding the sort by title; is there a way to eliminate from consideration leading words like "A," "An," "The"? What do you think, @jobrien62 -- is this worthwhile?

[2019-03-22 14:30] #20 closed

[2019-03-22 14:31] tonyahowe commented on #24
I think we are good to go with this first merge!

[2019-03-22 14:33] wsalesky commented on #30
Yes, this is pretty easy, just come up with a comprehensive list of leading words.

[2019-03-25 14:15] wsalesky commented on #24
Done. I will set up webhooks for the application and the data for the master branch. Then you can push your changes to production whenever you are ready.

[2019-03-25 14:15] #24 closed

[2019-03-25 14:55] wsalesky opened #32 "Add credit information for banner image."

[2019-04-15 17:21] brinascode commented on #28
Hi Winona,
We've worked on standardizing the picture urls and so far they look like this:
https://s3.amazonaws.com/lic-assets-staging/Shelley/vol1/0.01.jpg .
We have an idea of how to organize the pictures on S3 and soon I'll write a reference for the naming convention.
I also used the custom domain for some pictures and it works great.
Could you please program the app so that whenever it finds fa

[2019-04-15 17:31] brinascode opened #33 "Contributor errors"
Hi Winona,
Would be great if you could address the following issues:
--The "see all annotations" link (found in the Contributors page, after you click on a given contributor who has more than 1 contribution) returns an error.
--Contributor notes in the actual texts have links that link to the Contributor page that belonging to the author of the note. These links also return errors.
Thanks!

[2019-04-15 17:33] wsalesky commented on #28
@brinascode I have made this change. Let me know if you see any issues.

[2019-04-15 17:41] wsalesky commented on #33
Fixed!

[2019-04-15 17:45] brinascode commented on #28
It works thank you!

[2019-04-15 17:58] brinascode commented on #28
I am getting this error for a few images, even though in the XML my link is facs="Shelley/vol1/0.0001.jpg" an not ="/Shelley...

<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Key>
/Shelley/http://anthologyassetsdev.lib.virginia.edu/Shelley/vol1/0.001.jpg
</Key>
<RequestId>FDE88003407EF866</RequestId>
<HostId>
5S2qUrSvusOBnSg4x3YZBR7/6hDkJd/gvwGo+wHNB0jHdh0dVN

[2019-04-15 18:10] wsalesky commented on #28
@brinascode What is the image path convention that will be used in the XML? There are a few different ways of linking to page images in this file: https://anthologydev.lib.virginia.edu/work/Shelley/shelley-frankenstein-1818.tei

example:
1. `<pb n="[title page]" facs="Shelley/vol1/0.0001.jpg"/>`

2. `<pb n="[title page verso]" facs="http://anthologyassetsdev.lib.virginia.edu/Shelley/vol1/0.001.jpg

[2019-04-15 18:19] brinascode commented on #28
The first one is what we would like to stick with; I have yet to fix the other links.

[2019-04-15 18:31] wsalesky commented on #28
Okay. I have fixed the code. Let me know if it does not behave as expected.

[2019-04-15 18:32] brinascode commented on #28
It works awesome thanks!

[2019-04-15 18:35] wsalesky commented on #28
Great. We should probably build some sort of paging mechanism to page through the text and images, as loading all those images on a single page will really slow things down. Just to keep in mind.

[2019-04-15 19:03] brinascode commented on #28
True, that would be a good idea

[2019-04-16 14:20] tonyahowe commented on #33
Thank you!

[2019-04-16 14:20] #33 closed

[2019-04-16 14:22] #13 closed

[2019-04-16 14:38] tonyahowe opened #35 "Contributors"
Some students make contributions to the project outside of the notes; for instance, in wollstonecraft-vindication-excerpted.xml, contributor BT also took the page images. Would it be possible to identify any note@resp in the xml and include it in the contributors list, or am I missing a potential problem? See line 94 in LiC-data/Wollstonecraft/wollstonecraft-vindication-excerpted.xml.

[2019-04-16 14:43] wsalesky commented on #35
The contributors page does this already:
https://anthologydev.lib.virginia.edu/contributors.html?contributorID=BT

I do not think it is showing up on the work page: https://anthologydev.lib.virginia.edu/work/Wollstonecraft/wollstonecraft-vindication-excerpted

Would you like it added?

[2019-04-16 14:47] tonyahowe opened #36 "Pages to ignore?"
In LiC-data, we currently have pages like **editors.xml** and **template.xml** that are showing up, as one would expect, in the list of data; is it possible to create a folder in LiC-data, called something like "ignore" or "commonFiles"--something that would make sense--into which we could put things like editors.xm and the templates we create, so that they _don't_ appear in the regular list of fi

[2019-04-16 14:49] wsalesky commented on #36
Just move them out of LiC-data/data. You could move them to LiC-data/templates for example. Moving editors will break the current script, but it is an easy fix and better to do it now than later, just don't be alarmed when the contributors page breaks.

[2019-04-16 15:59] tonyahowe commented on #35
Right-- it's not showing up there now. Yes, that would be great!

On Tue, Apr 16, 2019 at 10:43 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/ma

[2019-04-16 16:08] tonyahowe commented on #36
Okay--I created three folders in LiC-data: templates, contributors, and headnotes.

[2019-04-16 18:57] tonyahowe opened #37 "Castlist display for drama"
We are working on rendering drama, and a couple things are coming up--in this issue, the castlist from behn-rover.xml:

[code]

The actor element isn't showing up--I'm assuming this is an xslt issue?

[2019-04-16 19:02] tonyahowe commented on #28
Winona, we continue to work with the images, and are hoping you can implement something that will make the process a little more automated and less prone to typos!

Each xml file has a unique xml:id, like behn-rover. Can we use these xml:ids as the main folder for page and note images related to it? For instance, if we store the images on AWS as [xml:id]/pageImages/xxx.jpg and [xml:id]/notes/xxx.j

[2019-04-16 19:05] wsalesky commented on #28
Yes, as long as the pattern is consistent and the xml:id matches the folder on AWS that is fine. Let me know what the final pattern is.

[2019-04-16 19:13] wsalesky commented on #37
This is done in XQuery: https://github.com/LiteratureInContext/LiC-app/blob/master/modules/content-negotiation/tei2html.xqm#L20

Most TEI elements should be output by default, this was my fault as I made a dl for the Cast List and forget to add the actor element. (opps). Should be fixed now.  Hopefully it is easy to add elements as needed, they are in alphabetical order for convenience.

[2019-04-16 19:13] #37 closed

[2019-04-16 19:39] tonyahowe commented on #28
Okay-- using finch-nightingale.xml as an example, I added pages images as <pb facs="pageImages/xxx.jpg"/> and any images as <graphic url="notes/xxx.jpg"/>. There are corresponding images on AWS, under the folder finch-nightingale.

If this works, it's also a good way to keep things clear around multiple texts by the same author!

[2019-04-16 23:34] tonyahowe opened #38 "Minor Display Issue: Epigraphs"
The eipgraphs on title pages are doing weird things--see for instance the epigraph in shelley-frankenstein-1818.xml.

[2019-04-17 12:31] wsalesky commented on #38
CSS issue. Fixed.

[2019-04-17 12:31] #38 closed

[2019-04-17 12:48] wsalesky commented on #28
Done.

[2019-04-17 16:00] wsalesky commented on #36
@tonyahowe Ops, I just looked at this. Anything you do not want showing up in the search should be above the LiC-data/data directory. So move them to:

- LiC-data/templates
- LiC-data/contributors

I don't know about headnotes, those you may want to be able to search?

-

[2019-04-17 16:05] wsalesky commented on #35
How would you like this added? In the 'Editorial statements' section? Do we need to add another section for TEI header information that is not currently being displayed? Do you want to have a way to  have a list all the contributors on the work page?

[2019-04-19 18:51] tonyahowe commented on #36
Yes, the headnotes will be something we'd like to be able to search; these we have not figured out how we want to do, but they should be associated with and yet separate from the texts themselves. I'm not sure how to do this; this may be something for a fuller conversation! I will move the templates and contributors folders!

[2019-04-19 18:53] tonyahowe commented on #36
It looks like there's already a "templates" folder in LiC-data. I'll still move it, but rename it "fileTemplates."

[2019-04-19 19:57] tonyahowe commented on #35
It shows up in the "sources" section, and that is fine, there--I'm looking for it to show up in the contributors page, but I may not have seen it. Let me look more closely!

[2019-04-19 19:58] tonyahowe commented on #35
Oh--I moved the contributors page out of the data directory, which broke the links.

[2019-04-19 19:58] tonyahowe commented on #36
Okay-- I moved the folders, which of course broke the contributors links.

[2019-04-20 13:44] wsalesky commented on #36
Fixed.

[2019-04-20 13:44] #36 closed

[2019-04-20 13:44] wsalesky commented on #35
The links are fixed now

[2019-04-25 17:43] brinascode commented on #28
Hi Winona,

It seems like the images inside graphic tags arent't being linked to AWS.
For example, in the xml there is:
 <graphic url="notes/Benjamin_Franklin_by_Joseph_Siffrein_Duplessis.jpg" style="float:right" width="400px"/>

but in the app the picture does not show up, and when we click on the image address of the little image icon it gives: https://anthologydev.lib.virginia.edu/work/Franklin

[2019-04-25 18:14] wsalesky commented on #28
@brinascode

Try now please. The code will use the supplied url if it is a full url (starting with 'http' or 'https'), if it is a relative url it will add the work id and the AWS path.

Close if it is resolved.

[2019-04-25 18:21] brinascode commented on #28
Awesome thanks it works.
Closing the issue.

[2019-04-27 12:53] tonyahowe commented on #30
I think just A, AN, THE would be the words most typically used that should be excluded. Thank you, Winona!

[2019-04-27 12:54] tonyahowe opened #42 "Slow Running"
Hi, Winona! The site seems to be loading and moving very slowly (the dev site, not the production site). Is it something to do with github? Not sure, but sometimes the slowness times it out or throws a 502. On refresh, it comes back, but slowly.

[2019-04-27 12:55] tonyahowe opened #43 "No content on production site"
Hi, again! I took a look for the first time (!) at the production site, and noted that there is no data there.

[2019-04-27 15:33] wsalesky commented on #42
I will check with Dave. I think there is a memory leak in the version of eXist we are using. I'm expecting a new release anytime. But maybe there is something he can do to free up some memory while we wait.

[2019-04-27 16:02] wsalesky commented on #43
Okay, I added the data in the master branch to the production site and added the webhooks.

[2019-04-27 16:03] #43 closed

[2019-04-27 16:33] wsalesky commented on #30
How does this look: https://anthologydev.lib.virginia.edu/browse.html

Would you like to filter numbers out as well?

[2019-05-17 15:12] wsalesky commented on #35
@tonyahowe Can this be closed?

[2019-05-17 15:12] wsalesky commented on #30
@tonyahowe Can this be closed?

[2019-05-20 17:01] tonyahowe commented on #42
Seems to be working nicely now!

[2019-05-20 17:01] #42 closed

[2019-05-20 17:02] tonyahowe commented on #35
Thanks, Winona!

[2019-05-20 17:02] #35 closed

[2019-05-20 17:02] tonyahowe commented on #30
I think this works! John and I are talking today about the project--we will put up any other issues here!

[2019-05-20 17:02] #30 closed

[2019-05-20 17:13] tonyahowe opened #44 "Image Display"
Problem: Page display quickly outpaces/doesn't match up with text; how to get a true/better "facing page" display?

[2019-05-20 17:27] tonyahowe commented on #28
pageImages/vol1/0001.jpg --> books with multiple volumes
pageImages/0001.jpg --> no volumes
notes/xxxxx.jpg --> all images linked in notes from AWS
or a live url with a stable image file
can we style the images: float:right width:300px

[2019-05-20 17:37] tonyahowe opened #45 "Browse and Search"
Search question: how is the browse/search page different from the search field at the top, if it is?

Help text is currently "search string"; normal users may find it more helpful for something like "search all text" or "search full text."

[2019-05-20 17:38] tonyahowe opened #46 "Select all/deselect all"
Can we add select/deselect all for all functions?

[2019-05-20 17:39] tonyahowe opened #47 "Logins/Permissions"
Currently we can delete any text from any coursepack and any coursepack, itself
could it be tied to SSO of a school? and/or separate users? Probably some basic security for this would be helpful sooner, rather than later, but I don't know how much time it will take.

[2019-05-20 17:45] tonyahowe commented on #9
It now seems to be duplicating the texts in the table of contents and the actual coursepack body (visible when download coursepack PDF)

[2019-05-20 17:46] tonyahowe opened #48 "Coursepack EPUB not working"
Doesn't seem to be able to download/open as EPUB

[2019-05-20 17:46] tonyahowe opened #49 "Download Coursepack as Plaintext"
Attempt to download coursepack as plaintext threw a bug

[2019-05-20 18:31] tonyahowe commented on #44
Not really a question, but we are thinking about options. Smaller page images that expand? Page images tied to placement of <pb>?

[2019-05-22 16:32] wsalesky commented on #49
@tonyahowe  Can you please include link to problem page, and either the error or a screen shot so I can reproduce and test bugs. (And make sure I'm fixing the correct bug!) Thanks.

[2019-05-22 16:45] wsalesky commented on #49
Fixed.

[2019-05-22 16:45] #49 closed

[2019-05-22 17:19] wsalesky commented on #45
@tonyahowe The browse/search page is not functionally any different from the search box. Would you like me to change the search place holder text? I prefer the "search full text" but am happy to add what ever you like. Do you want it on the browse/search page and in the search field at the top?

[2019-05-22 17:21] wsalesky commented on #28
@tonyahowe Can I get an example XML to test the variouse image permutations? One XML example for each image format listed above.
Thanks!
-Winona

[2019-05-22 17:41] tonyahowe commented on #45
Thanks--that clarifies! And I agree, something like "search full text" in
both places would be great.

On Wed, May 22, 2019 at 1:23 PM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | F

[2019-05-22 17:45] wsalesky commented on #44
A few options:
1. Smaller images
2. Constrain the HTML display to align the text div and the page image.
3. A side by side image/page interface, example: http://141.40.254.7:8080/exist/apps/usaybia/text/1?page=PB2.240. This forces a 1 page at a time interface, which is speedy for large texts, but also annoying for users who prefer to see larger chunks of content.
4. Some combination of the above,

[2019-05-22 18:18] wsalesky commented on #45
Fixed

[2019-05-22 18:18] #45 closed

[2019-05-22 19:42] wsalesky commented on #47
We will need to set up accounts and then restrict access. What would you like the process to be for setting up an account? Do they need to go through you to be approved, can anyone set up an account? Do you need groups as well as accounts?

[2019-05-23 18:20] wsalesky commented on #46
Added

[2019-05-23 18:20] #46 closed

[2019-05-23 18:31] wsalesky commented on #48
@tonyahowe Sorry I think I just did a copy and paste of Joe's code on this module. I will take a closer look and see if we can get it working correctly. It may take a few hours.

[2019-05-23 18:39] wsalesky commented on #9
@tonyahowe I'm not sure what you mean, can you add links, screen shots or send me attachments to help me understand the issue?
Thanks!

[2019-05-24 17:27] wsalesky opened #53 "Add a function to backup coursepacks"
Options:
1. save to github when created/edited.
2. have an option to download coursepack configuration files.

[2019-05-27 13:23] tonyahowe commented on #47
What would be the benefit of having groups as well as accounts? I don't think they need to go through us for approval, but it might be useful to have a bot detection process. @jobrien62 what do you think?

[2019-05-27 13:25] tonyahowe commented on #9
We are working on identifying a few more pretty-print features for the coursepack, so we'll get back to you!

[2019-05-27 13:28] tonyahowe commented on #44
I think we are leaning toward option 2, but it would be interesting to see a toggle option--full text + aligned page images (option 2), and side-by-side/page-by-page (your option 3).

[2019-05-27 13:42] wsalesky commented on #47
Group accounts could allow only members of a group to edit a coursepack.

[2019-05-27 13:42] wsalesky commented on #9
Sounds good.

[2019-05-27 13:42] wsalesky commented on #44
Okay, I will look into it.

[2019-05-27 13:49] tonyahowe commented on #28
AWS//xml:id/pageImages/vol1/xxx.jpg --> books with multiple volumes --> **shelley-frankenstein-1818.xml**
AWS//xml:id/pageImages/0001.jpg --> no volumes to worry about --> most all others
AWS//xml:id/notes/xxxx.jpg --> all images linked in notes from AWS --> **franklin-autobiography.xml**
OR: a live url with a stable image file. -->

Can we style all **NOTES** images with the following CSS (or the

[2019-05-27 14:00] tonyahowe commented on #47
Got it. I don't think we'd need group accounts, then!

On Mon, May 27, 2019 at 9:42 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.engl

[2019-05-28 14:35] tonyahowe opened #54 "Weird bug in faceting authors"
Hi, Winona! A weird bug has raised its head--or maybe I just noticed it. When we go to the browse/search page, you'll note that Franklin has authored 40 texts. I'm not sure why this is--the word Franklin is nowhere in the XML files that return, which include a lot of Wheatley.

This might be related to the multiple Philips, Katherine entries in the author list, as well--we've looked through the da

[2019-05-28 15:53] wsalesky commented on #54
@tonyahowe mystery solved. The Author facets lookup authors by their key and then only prints the first name in the group, in this case the first name is Benjamin Franklin even though all the other names are actually Phillis Wheatley. This is because this file: https://github.com/LiteratureInContext/LiC-data/blob/development/data/Franklin/franklin-autobiography.xml#L8

is using the same author key

[2019-05-28 19:43] tonyahowe commented on #54
Yes!! That’s it! I will correct that ASAP.

Sent from my mobile; please forgive typos

[2019-05-30 23:15] wsalesky commented on #44
@tonyahowe  Okay, I added option 2. What do you think?

[2019-06-01 16:25] tonyahowe commented on #44
That looks good! Would it be possible to toggle between 1.) this, and 2.) with/without the page images?

Related note: It seems however that now the images in notes aren't showing up (see the first note in franklin-autobiography.xml as an example). I don't know if this was an effect of the recent update?

[2019-06-01 16:26] tonyahowe commented on #28
It seems that the images in footnotes aren't visible now--see note in #44

[2019-06-02 13:25] wsalesky commented on #28
@tonyahowe Sorry that is a bug introduced by the new page image view. I will get it fixed Monday

[2019-06-02 16:57] wsalesky commented on #44
Fixed.

[2019-06-03 11:30] jobrien62 commented on #28
Working now, looks like!

[2019-06-06 12:32] wsalesky commented on #47
@tonyahowe FYI, I am working on this now, hope to have something up early next week for testing.

[2019-06-06 14:47] tonyahowe commented on #54
That was the problem! We will probably need to change something to avoid this kind of problem--if we draw the author information from one place only, in sourceDesc OR the fileDesc, then we can cut down on problems. I didn't foresee this! @jobrien62 do you have a preference? Should we pull the author information from the first mention, in the fileDesc, or from the broader info re: sources in source

[2019-06-06 14:49] tonyahowe opened #59 "Links in "source texts" expansion not working"
Hi, Winona-- I think we already talked about this, but I can't find the issue. At any rate, the links to live URLs used in the sourceDesc and imprint elements of the XML aren't rendering as links in the Source Texts expansion. Here's an image--see that XML for examples:

<img width="1191" alt="Screen Shot 2019-06-06 at 10 45 28 AM" src="https://user-images.githubusercontent.com/1153464/59042622-cb

[2019-06-06 15:24] jobrien62 commented on #54
No strong preference on my end, though I think that fileDesc probably makes the most sense, as the more general category.

[2019-06-07 01:35] wsalesky commented on #59
Fixed.

[2019-06-07 01:35] #59 closed

[2019-06-11 17:26] tonyahowe commented on #54
@wsalesky I think in order to eliminate confusion down the line, we should only pull the author information from one place--the fileDesc/author element, as here from rochester-satire-mankind.xml:

`            <author>
               <persName type="lcnaf" key="n79027135">

                  <name>
                     <forename>John</forename>
                     <surname>Wilmot</surname>

[2019-06-11 17:27] tonyahowe opened #60 "addNames"
Note that some authors, like this one, will also have additional names--can we alphabetize as normal by surname, but include any addNames after? For instance, "Wilmot, John, Earl of Rochester" for bibliographic purposes, but "John Wilmot, Earl of Rochester" for display purposes? Here is a sample from rochester-satire-mankind.xml:

`            <author>
               <persName type="lcnaf" key="n7

[2019-06-11 17:36] tonyahowe commented on #44
@wsalesky: can we add a toggle feature to make different displays possible? We are hoping to toggle between the text only and text + page images.

[2019-06-11 18:59] wsalesky commented on #44
@tonyahowe Sure. What should be the default view? Text only?

[2019-06-11 19:37] tonyahowe commented on #44
I am inclined toward text only. @jobrien62 what are your thoughts? Text only on initial view might be cleaner. Would we be able to shrink the size of the images, as well? They are still quite large, and there's lots of empty space between the text transcription. Let's wait until @jobrien62 weighs in, but does this seem pretty simple?

[2019-06-11 20:48] jobrien62 commented on #44
So, the idea would be text-only as the default view, with, then, the option to toggle to a view with text + page images?
________________________________
From: Tonya Howe <notifications@github.com>
Sent: Tuesday, June 11, 2019 3:37 PM
To: LiteratureInContext/LiC-app
Cc: O'Brien, John F (jo6p); Mention
Subject: Re: [LiteratureInContext/LiC-app] Image Display (#44)

I am inclined toward text only. @

[2019-06-11 22:31] tonyahowe commented on #44
That’s right—the extra space between the text blocks, to accommodate the page images, seems distracting to me, as I look at it more. I’m not wedded to this, but if it seems like a good idea, we might try it.

Sent from my mobile; please forgive typos

[2019-06-12 04:07] jobrien62 commented on #44
Yes, I can see that. It's a helpful feature for one kind of reading, and a kind of reading that we want to support. But if a reader simply wants to get on with it, it's distracting, so having a straight-text view as the default with the option to switch to a text + page image view makes sense. John
________________________________
From: Tonya Howe <notifications@github.com>
Sent: Tuesday, June 11,

[2019-06-12 14:54] wsalesky commented on #44
@tonyahowe @jobrien62 Added. Let me know what you think.

[2019-06-12 17:46] tonyahowe commented on #44
I love it!

[2019-06-12 17:46] #44 closed

[2019-06-12 17:48] tonyahowe commented on #28
Hi, Winona! I went through and put the images from notes into AWS, as several links I'd thought of as stable (British Museum, etc) had moved. They are showing up when viewed from the main source page, but the embedded images are not showing up when viewed through the contributors page (see SS below).
<img width="799" alt="Screen Shot 2019-06-12 at 1 46 48 PM" src="https://user-images.githubusercon

[2019-06-12 18:55] tonyahowe commented on #28
Hi, @wsalesky! Can we wrap the images in the contributors' display the same way we did in the popups? This is what the contributors' display looks like now:
<img width="844" alt="Screen Shot 2019-06-12 at 2 55 25 PM" src="https://user-images.githubusercontent.com/1153464/59378348-1c04ec80-8d22-11e9-95d9-ed9f7f1d5fcb.png">

[2019-06-17 16:25] tonyahowe commented on #54
@wsalesky @jobrien62  I've removed all the lcnaf keys from the second instance of `<author>` -- the site seems fine, so it's the difference between the first and second keys that causes confusion. As long as we keep the key ONLY in the first instance of `<author>` we should be good!

[2019-06-17 16:30] tonyahowe opened #64 "Minor display issue: head type="title""
@wsalesky when the page image toggle is on, the formatting of the `<head type="title">` element changes--it becomes smaller, seemingly exactly like the regular text font. Can we make that display in the same size as the `<head type="title">` when the page image toggle is off?

[2019-06-18 02:36] wsalesky commented on #54
@tonyahowe @jobrien62 Sounds good. Should we close this or leave it open for reference?

[2019-06-18 02:36] wsalesky commented on #64
I will take a look.

[2019-06-18 05:52] jobrien62 commented on #54
Yes let's close.
________________________________
From: Winona Salesky <notifications@github.com>
Sent: Monday, June 17, 2019 10:36 PM
To: LiteratureInContext/LiC-app
Cc: O'Brien, John F (jo6p); Mention
Subject: Re: [LiteratureInContext/LiC-app] Weird bug in faceting authors (#54)

@tonyahowe<https://github.com/tonyahowe> @jobrien62<https://github.com/jobrien62> Sounds good. Should we close this o

[2019-06-18 13:31] tonyahowe opened #65 "New page add"
Can we add a new page to the top navigation structure for assignments and templates? We don’t have text yet, but I may be able to add it. It will have information about templates (a link to the fileTemplates/template.xml file) and assignments. Call it “Assignments & Templates”—unless @jobrien62 has another idea?

[2019-06-18 18:13] wsalesky commented on #64
@tonyahowe can you link to an example record?

[2019-06-18 21:37] tonyahowe commented on #64
All of them—any one will do! 😊

[2019-06-18 21:39] tonyahowe opened #66 "Mobile display"
Mobile display is pretty smooshed... can we alter anything there to make it a little more friendly? Not sure how complicated that is?

[2019-06-21 23:52] #28 closed

[2019-06-21 23:54] tonyahowe opened #69 "Minor/oddity"
There is a phantom version of finch-nightingale.xml visible in the browse/search when searching for "finch"-- https://anthologydev.lib.virginia.edu/work/Finch/out/temp-dir-for-ant/tmp2

It's not synching to my local folder; where did it come from? Can we get rid of it?

[2019-07-08 13:33] wsalesky commented on #69
Removed.

[2019-07-08 13:33] #69 closed

[2019-07-08 13:36] wsalesky commented on #64
fixed

[2019-07-08 13:36] #64 closed

[2019-07-09 14:08] wsalesky commented on #65
Added.

[2019-07-09 14:09] wsalesky commented on #60
Done. @tonyahowe if the display looks good please close this issue.

[2019-07-09 14:13] #54 closed

[2019-08-06 14:20] wsalesky commented on #47
@tonyahowe @jobrien62
Hi all, so sorry for the very long delay in getting this function working! Please test the new user module function on the dev server when you get the chance. New functions restrict coursepack creation and editing functions to registered users. Anyone can register and once logged in they can create/edit/delete coursepacks (that they own).  Other features can be added as neede

[2019-08-09 12:18] tonyahowe commented on #47
Hi, Winona! Thanks for working on this! I like the placement of the login
key, and I created an account for myself. Something super quick flashed up
on the screen, and chrome asked to remember the password; but then the home
page login key still read "login." When I clicked "login" again, and used
the password I'd just created, I was logged in. Users may have a hard time
figuring out that the firs

[2019-08-09 12:20] wsalesky commented on #47
@tonyahowe what browser did you use? I will do some testing, but want to test on the same browser you used.

[2019-08-09 13:42] tonyahowe commented on #47
I was in chrome. Thanks!

Sent from my mobile; please forgive typos

[2019-08-09 13:49] wsalesky commented on #47
Thanks, I will take a look.

[2019-08-09 13:53] wsalesky commented on #47
@wsalesky  Javascript Bug: Window reloads even if user already exists error for 'create new user function'

[2019-08-09 23:23] wsalesky commented on #47
@tonyahowe This should be fixed. Please let me know if not.

[2019-08-23 01:31] jobrien62 opened #77 "Equiano page images"
Equiano page images are not showing; are the file names for the images formatted in a way that exist cannot read them?

[2019-08-23 18:27] wsalesky commented on #77
@jobrien62 Can I have a link to the problematic page? Thanks!

[2019-08-23 18:56] jobrien62 commented on #77
Winona:

The page is this one: https://anthologydev.lib.virginia.edu/work/Equiano/equiano-interesting-narrative. If you try to get the “page Images,” you get this. One worry is that the file names of the images are too long or in a format that the database does not like. I’ll admit to not having checked every bit of the xml to compare the file names of the images with the xml, but it validates fin

[2019-08-23 20:05] wsalesky commented on #77
@jobrien62 It looks like my paging mechanism is having some trouble with the TEI formatting of this file. I will have to fiddle with the XQuery.

[2019-08-23 21:16] tonyahowe commented on #77
I will take a look at it too.

Sent from my mobile; please forgive typos

[2019-08-23 22:11] wsalesky commented on #77
@tonyahowe It has something to do with with the two text elements in this TEI document (unique in the collection so far, I think) and this code: https://github.com/LiteratureInContext/LiC-app/blob/master/modules/content-negotiation/tei2html.xqm#L128

Which leads to this code: https://github.com/LiteratureInContext/LiC-app/blob/master/modules/lib/data.xqm#L253

The bug is not immediately apparent t

[2019-08-24 16:56] tonyahowe commented on #77
Yes, I see! @jobrien62 it seems the problem is because both volumes of Equiano's Narrative are contained in the same XML file. It would probably be better either to separate them and develop a way to connect the volumes, or, as I've done in Frankenstein, just include all the volumes as DIVs, which isn't idea.@wsalesky -- do you have any thoughts on the best solution?

[2019-08-24 17:12] wsalesky commented on #77
Is the two tei:text elements valid TEI? If so, and this makes the most sense for the data then we should change the XQuery to be able to handle this permutation. I will be able to take a serious look at it on Monday.

[2019-08-24 17:20] tonyahowe commented on #77
It validates in Oxygen--but typically, it's used for things published in a single volume. In this case, and in the Frankenstein text, there are multiple volumes, each published as separate texts. It would be more appropriate to have volumes in individual XML files that are somehow linked, so readers could open each one after the other.

[2019-08-25 12:35] tonyahowe commented on #77
The other way to do it might be to use `<floatingText>` as a way to indicate multiple whole sources in one document. But it may be necessary to have some way to navigate in longer texts, perhaps by `<div>` or by `<head>`s? I'm experimenting with Equiano-test

[2019-08-25 12:38] jobrien62 commented on #77
Thanks for experimenting; I cannot do all that much with the site today. We’ll probably face this issue of multiple volumes a good deal with older long works. (Gulliver’s Travels is four volumes, for example). John

From: Tonya Howe <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Sunday, August 25, 2019 at 8:35 AM
To: LiteratureInContext/LiC-app <LiC

[2019-08-25 18:03] tonyahowe commented on #65
@wsalesky The adds I'd made to templates.html on the development branch seemed to be reverted under a later commit; I am worried about opening the dev branch on Oxygen for various reasons, so I made edits directly to the file in the dev branch on github. The webhooks seem to be stuck.

[2019-08-25 18:19] wsalesky commented on #65
@tonyahowe I think the webhooks were just slow? It seems okay now? Do you want to discuss the issues with Oxygen and the dev branch?  I suspect the login module overwrote the page, not anything you did. I may have merged the issue branch incorrectly.

[2019-08-27 12:11] tonyahowe opened #78 "502 bad gateway"
Hi, @wsalesky ! We're getting a 502 bad gateway when attempting to load the main page, or when attempting to search. As of 8:14am.

[2019-08-28 14:43] jobrien62 commented on #78
It’s working, though running slowly. I haven’t heard anything from Dave about the server side. The slowness might be an argument for breaking up longer books, but maybe it will resolve itself. Should we replace equiano with equiano-test? John

From: Winona Salesky <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Tuesday, August 27, 2019 at 8:33 AM
To:

[2019-08-28 18:13] tonyahowe commented on #78
I can work on that--if we delete the equiano-interesting-narrative and
rename the other, we won't have to do any manipulation of AWS. But in the
future, we will definitely want to consider ways to break the text up.
Winona, if it is easy to do by DIVs, we can easily re-template all the
titlepage elements to be a DIV TYPE="TITLEPAGE" for the data files.

On Wed, Aug 28, 2019 at 10:43 AM jobrien62 <

[2019-08-28 18:18] jobrien62 commented on #78
That makes sense to me for longer texts.

From: Winona Salesky <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Wednesday, August 28, 2019 at 2:15 PM
To: LiteratureInContext/LiC-app <LiC-app@noreply.github.com>
Cc: "O'Brien, John F (jo6p)" <jobrien@virginia.edu>, Mention <mention@noreply.github.com>
Subject: Re: [LiteratureInContext/LiC-app] 502 bad g

[2019-09-09 21:02] wsalesky commented on #78
Resolved

[2019-09-09 21:02] #78 closed

[2019-09-18 21:45] tonyahowe opened #80 "On page image display, problem with text"
When the page images are viewed on poems (I have not checked this with prose), the last line of text is cut off. See, for instance, [https://anthologydev.lib.virginia.edu/work/Wheatley/wheatley-rebus?view=pageImages](https://anthologydev.lib.virginia.edu/work/Wheatley/wheatley-rebus?view=pageImages).

[2019-09-18 22:27] tonyahowe opened #81 "Multiple authors in a single text"
See example here: [https://anthologydev.lib.virginia.edu/work/Wheatley/wheatley-rebus](https://anthologydev.lib.virginia.edu/work/Wheatley/wheatley-rebus): can we add a comma between multiple author names?

[2019-09-18 23:23] tonyahowe opened #82 "Multiple authors--browse view"
Related to issue #81 -- in the browse list (or search results list), texts with multiple authors should display all authors. See [https://anthologydev.lib.virginia.edu/search.html?query=j.+b.&field=keyword](https://anthologydev.lib.virginia.edu/search.html?query=j.+b.&field=keyword), or search for "rebus" by Wheatley and J. B..

[2019-09-23 22:10] wsalesky commented on #80
@tonyahowe investigating.

[2019-09-23 22:28] wsalesky commented on #81
Fixed.

[2019-09-23 22:28] #81 closed

[2019-09-23 22:39] wsalesky commented on #82
Fixed.

[2019-09-23 22:39] #82 closed

[2019-09-26 14:33] wsalesky commented on #80
@tonyahowe Fixed!

[2019-09-26 14:33] #80 closed

[2019-09-26 14:34] tonyahowe commented on #80
Great! What was the problem? It's an interesting little oddity, and it's
not a problem with prose pieces. Must have something to do with the line
groups or the lines?

On Thu, Sep 26, 2019 at 10:33 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Pro

[2019-09-26 14:40] wsalesky commented on #80
I 'borrowed' the code for this from https://wiki.tei-c.org/index.php/Milestone-chunk.xquery

However the way this code handles final pages, i.e. a tei:pb with content following it is a bit simplistic  and clearly prone to bugs. It finds the last node after the last milestone, in this case it was finding and stoping at the tei:hi element in the last line of the poem. I rewrote it to work with an em

[2019-09-26 14:40] wsalesky commented on #65
@tonyahowe can this be closed?

[2019-09-26 15:58] tonyahowe commented on #65
Yes!

On Thu, Sep 26, 2019 at 10:40 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.english/> | LinkedIn
<https://www.linkedin.com/in/ma

[2019-09-26 16:34] #65 closed

[2019-12-23 14:43] tonyahowe opened #89 "Styling"
Styling headings and subheadings for display
- div/head or div/head@title = larger, centered;
- div/head@subtitle = slightly smaller, centered
- div @n = style the N centered, same as subtitle <-- this is not accurate; please disregard!

[2019-12-23 14:44] tonyahowe opened #90 "Page Image Loading"
Page images for long texts often crash the server; can we implement a lazy load solution?

[2019-12-23 14:44] tonyahowe opened #91 "Page image button"
Can the +Page Images button only be shown if there are pb@facs in the xml file? Thanks!

[2019-12-23 14:45] tonyahowe opened #92 "Coursepack feature"
Can we add highlighted/selected text from long XML files to a coursepack, to display as full documents are now displayed?

[2019-12-23 14:48] tonyahowe opened #93 "Hypothesis feature"
We'd like to enable hypothes.is on LiC natively (instead of the plugin that individuals can add) so we can have user-contributed hypothesis notes, as well as editor/student-contributed XML annotations. A more complicated feature is potentially using hypothesis to gather user-submitted annotations. Perhaps tag those intended as submissions to become official annotations? Or even better, find some w

[2019-12-24 18:42] tonyahowe opened #94 "Visualizations/Enhancements"
Some thoughts--we're only just beginning to brainstorm here!

A general “Linked Data” page (in the main nav at the top of the page?) that allows users to see some of the data we're generating, like:
- Map all the placeName@keys, with links back to the placeName in text?
- List all the persNames (linked back to the text) and those with @keys (linked to their LCNAF profile)? Question: Can other dire

[2019-12-26 20:15] wsalesky commented on #89
@tonyahowe Can you link to some records with this TEI encoding so that I can test the new display?

[2019-12-26 20:17] wsalesky commented on #91
@tonyahowe can I have a link to an example record where the + Page Images button is showing where there are no page images?

[2019-12-27 20:09] tonyahowe commented on #89
Sure! Check out:
- https://anthologydev.lib.virginia.edu/work/Pope/pope-rape-lock
- https://anthologydev.lib.virginia.edu/work/Behn/behn-rover

It seems that there are heads in nested divs, too-- the second link is a good example of that.

[2019-12-27 20:20] tonyahowe commented on #91
Here's one: https://anthologydev.lib.virginia.edu/work/Swift/swift-modest-proposal

[2019-12-30 20:50] tonyahowe commented on #91
I thought I put this up there! Sorry about that-- I was going to give you
Swift's MODEST PROPOSAL, here:
https://anthologydev.lib.virginia.edu/work/Swift/swift-modest-proposal?view=pageImages

But it looks like it's already fixed! Thanks!

On Thu, Dec 26, 2019 at 3:17 PM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https:

[2020-01-03 15:28] wsalesky commented on #91
@tonyahowe Great! I will close this then.

[2020-01-03 15:28] #91 closed

[2020-01-10 15:48] wsalesky commented on #89
@tonyahowe updated on Development branch and server. If approved I will merge into the master branch.

[2020-01-10 15:51] wsalesky commented on #66
@tonyahowe has this been resolved? Do you want me to do any additional work? Are there specific problem areas?

[2020-01-10 16:01] wsalesky commented on #93
@tonyahowe Added to development site. If approved I will move to master.

[2020-01-10 16:02] wsalesky commented on #60
@tonyahowe can this be closed?

[2020-01-10 16:03] wsalesky commented on #47
@tonyahowe Did this ever get approved? Still testing? (Just doing a clean up round on all the leftover issues before starting the new issues.)

[2020-01-10 17:30] wsalesky commented on #90
@tonyahowe Best work to test this on? Also do you want to lazy load text content or just images.

[2020-01-13 19:17] wsalesky commented on #92
@tonyahowe I assume you would want to save the underlying xml to the coursepack? Or just the text?

[2020-01-15 18:01] wsalesky commented on #94
@tonyahowe Getting started on these this week.
Can you clarify what you  mean here : "Question: Can other directories be accessed from this LCNAF info?"

[2020-01-15 18:56] tonyahowe commented on #94
Ah, yes! I was wondering if, for instance, other data sources can be drawn
on from the LCNAF information--like geographical information, other data
from SNAC (https://snaccooperative.org/), and so on. I was thinking if we
wanted to somehow show connected authors in LiC, or authors associated with
particular places... More of a "what if" question than anything. I can see
how one could easily pull i

[2020-01-15 21:25] wsalesky commented on #94
@tonyahowe @jobrien62 Here are some timeline options:
https://technotarek.com/timeliner/demo-future/timeliner-future.html
https://timeline.knightlab.com/examples/houston/index.html
https://github.com/OFFLINE-GmbH/multi-timeline.js

Do you have a preference in terms of look and functionality?

[2020-01-15 22:36] tonyahowe commented on #94
I really like the KnightLab timeline (and I've used it before); the one on
Github is nice, too. I'd say one of those would make a great
start. @jobrien62 ?

On Wed, Jan 15, 2020 at 4:25 PM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/Englis

[2020-01-15 22:39] wsalesky commented on #94
@tonyahowe I like that one also (and have used it before).

[2020-01-16 17:56] wsalesky commented on #94
@tonyahowe @jobrien62
This is very much a work in progress, but I have added the map function to the development site for you all to play with:  https://anthologydev.lib.virginia.edu/lod.html?view=map

This lists each work with a `tei:placeName[@type=('tgn','TGN')]/@key ` and adds a relationship type (which we can discuss and refine).

[2020-01-16 18:34] tonyahowe commented on #94
Oooo, this is so exciting!!!

On Thu, Jan 16, 2020 at 12:56 PM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.english/> | LinkedIn
<https:

[2020-01-16 18:34] tonyahowe commented on #89
I think this looks great! Thanks!

[2020-01-16 18:36] tonyahowe commented on #66
I think it's been resolved; the splash page with the scrolling feature is a bit wonky on mobile when displaying images, though. I wonder if we could resize any images to be a %? Otherwise, the text looks good!

[2020-01-16 18:37] tonyahowe commented on #93
Yes, this looks great--I've been playing around with it already! THANKS!

[2020-01-16 18:37] wsalesky commented on #89
reopen and Add to master

[2020-01-16 18:38] wsalesky commented on #93
@wsalesky add to master

[2020-01-16 18:38] wsalesky commented on #66
@tonyahowe  I will look into the homepage.

[2020-01-16 18:43] tonyahowe commented on #60
Sorry for the delay! This looks good, except there's weird spacing on the main document display--seems to be an extra space before the , addName: https://anthologydev.lib.virginia.edu/work/Rochester/rochester-satyr-mankind

[2020-01-16 18:45] tonyahowe commented on #47
Approved--it looks good!

[2020-01-16 18:46] tonyahowe commented on #90
I think just the images--here's one to play with that's quite beefy:  https://anthologydev.lib.virginia.edu/work/Shelley/shelley-frankenstein-1818

[2020-01-16 18:47] tonyahowe commented on #92
Yes, the same way whole texts are added.

[2020-01-16 18:49] tonyahowe commented on #94
I'm having fun with this! One thing I've noticed so far: when clicking the title of the home text from the map, it takes me to the actual xml tree, rather than the html rendering: https://anthologydev.lib.virginia.edu/db/apps/LiC-data/data/Shelley/shelley-frankenstein-1818.xml

[2020-01-16 18:53] tonyahowe opened #101 "display bug in safari"
When viewing the main splash page in safari, text and image overlap:
<img width="1595" alt="Screen Shot 2020-01-16 at 1 57 58 PM" src="https://user-images.githubusercontent.com/1153464/72553852-85744d00-3867-11ea-814e-6208735dc612.png">

[2020-01-16 21:18] wsalesky commented on #94
@tonyahowe @jobrien62 Timeline view is here:
https://anthologydev.lib.virginia.edu/lod.html?view=timeline

[2020-01-18 19:02] #93 closed

[2020-01-18 19:02] #47 closed

[2020-01-18 22:05] #60 closed

[2020-01-18 22:21] wsalesky commented on #101
Fixed.

[2020-01-18 22:21] #101 closed

[2020-01-18 22:49] wsalesky commented on #66
Fixed

[2020-01-18 22:49] #66 closed

[2020-01-20 16:16] wsalesky commented on #94
@tonyahowe Can I have some clarification on this one:

Do you want to see this across all works? Or just for each work? Something else?

[2020-01-20 16:37] tonyahowe commented on #94
It would be good to be able to see a differentiation in mentions—larger nodes for higher mentions. Across all works for the DB.

BUT, I was also thinking that it would’ve helpful to access information about and perform searches within current text, as well as an add current text to coursepack. The first is an answer to your question, the second an idea generated by your question!

Sent from my mob

[2020-01-21 03:04] jobrien62 commented on #94
Tonya, Winona:  I love the timeline; it’s sort of inspirational to see it set out that way, and it underscores one of our fundamental claims, that a digital “anthology” like this has capabilities that you could never build into a print anthology. So too the idea of network visualizations. That might put a premium on our metadata, and we might have to be particularly sure that we’re consistent—and

[2020-01-21 13:41] wsalesky commented on #94
@jobrien62 The map function should be fixed.

I will be working on the other visualizations this week, as well as rounding up the rest of the bugs. Will post progress here. Thanks for the feedback.

[2020-01-21 17:05] tonyahowe commented on #90
Just noticed that when I try to view page images for smaller texts like https://anthologydev.lib.virginia.edu/work/Rochester/rochester-satyr-mankind?view=pageImages there is a problem with display; I see the first page only, but no text, and an empty table:

<img width="1673" alt="Screen Shot 2020-01-21 at 12 09 31 PM" src="https://user-images.githubusercontent.com/1153464/72826152-50d90a80-3c46-1

[2020-01-21 17:08] wsalesky commented on #90
@tonyahowe So sorry! I accidentally merged my in process work for the lazy load feature into the development branch. I will get it sorted today!

[2020-01-21 17:38] tonyahowe commented on #90
No worries! I figured this is what was happening. Also, just fyi: A student
of mine who is working on a text for the project was SUPER EXCITED to see
all the new changes! :)

On Tue, Jan 21, 2020 at 12:08 PM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergradu

[2020-01-23 16:03] wsalesky commented on #90
@tonyahowe This feature is ready for testing. I tested it on the following:
https://anthologydev.lib.virginia.edu/work/Rochester/rochester-satyr-mankind?view=pageImages

and

https://anthologydev.lib.virginia.edu/work/Shelley/shelley-frankenstein-1818?view=pageImages

If you run across issues, please let me know what browser is causing trouble.
-Winona

[2020-01-31 14:47] wsalesky commented on #94
@tonyahowe @jobrien62 Added persName list: https://anthologydev.lib.virginia.edu/lod.html?view=persName

Next up the d3js visualization. This one is a little tricky, I have been thinking a lot about the best way to visualize the data, it may take some back and forth between us to get it right. I hope to have something for you to look at next week and we can take it from there.

[2020-02-15 18:35] tonyahowe commented on #94
@wsalesky I love the people referenced! I haven't played with it much yet, but it looks so promising--what a great add.

I note that the title on the LOD pages is a bit wonky: Linked Data Experiements vs Experiments. Would it be possible to have links from a main page, like [this](https://anthologydev.lib.virginia.edu/lod.html) to each of the Linked Data experiments--the Map, the Timeline, and the

[2020-02-17 22:07] wsalesky commented on #94
Sure, I can do that. What would you like as the default view?

[2020-02-21 16:02] wsalesky commented on #94
@tonyahowe @jobrien62
I have added a d3js visualization of the data, before I do to much fiddling with this I want to check in with you to make sure it is going in the right direction, and to get feed back for how you envision interacting with the data. These are not linked to the LOD pages yet.

Links:
Bubble chart of persons and places:
https://anthologydev.lib.virginia.edu/d3xquery/visualizatio

[2020-02-24 22:31] tonyahowe commented on #94
Hi, Winona! I can't seem to see these; I've logged in with the regular
username/password for the site. John, can you see the visualization samples?

On Fri, Feb 21, 2020 at 11:02 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-

[2020-02-24 22:31] jobrien62 commented on #94
I’m teaching tonight—in a few minutes. But will—at long last—get to this tomorrow. Just got a huge mountain of paper transferred from my desk to the dean’s. John

From: Tonya Howe <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Monday, February 24, 2020 at 5:31 PM
To: LiteratureInContext/LiC-app <LiC-app@noreply.github.com>
Cc: "O'Brien, John F (jo6p

[2020-02-24 22:39] wsalesky commented on #94
@tonyahowe @jobrien62
So sorry, it was a permissions error, how about now?

[2020-02-25 01:39] tonyahowe commented on #94
This is so exciting, Winona! It definitely also makes clear the need (as if
we needed another proof!) for clean, thorough XML. I wonder if we can get
all of these linked from a main page, like "Linked Data Experiments", which
is available as a tab at the top? Perhaps a simple list under this page -
https://anthologydev.lib.virginia.edu/lod.html - with the items Places,
People, Force-Directed Netwo

[2020-02-25 14:19] wsalesky commented on #94
Yes I will go ahead and clean up the linked data page and add links to the graphs, we may want better names. "Visualization of the Collection" (for the force directed graph), and "Visualization of Persons and Places in the Collection" for the bubble, would be possibilities.

I'm adding some additional functionality to the force directed graph to filter by id (or ids) so you can narrow the results

[2020-02-25 14:30] wsalesky commented on #94
@tonyahowe @jobrien62 I can add a link to the lod page in the nav bar, how would you like to refer to it? Linked Data? Something else?

[2020-02-25 15:39] wsalesky commented on #94
@tonyahowe @jobrien62  Some updates made so that all Linked Data visualizations can be accessed from here:

https://anthologydev.lib.virginia.edu/lod.html

Shall I add a LOD link to each work page? (A force directed graph of all place and persons mentioned in the work.)

[2020-02-25 16:50] tonyahowe commented on #94
Yes, I think "Linked Data" would be appropriate, unless John has another
idea!

On Tue, Feb 25, 2020 at 9:30 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.fa

[2020-03-14 18:05] tonyahowe commented on #89
A few more very small style issues, if possible? See this sample: https://anthologydev.lib.virginia.edu/work/Austen/austen-lady-susan

Can we add a line break before and after both div/opener and div/closer, as well as right align the contents of both div/opener and div/closer?

[2020-03-15 23:06] wsalesky commented on #89
@tonyahowe I will look into it.

[2020-03-18 15:22] wsalesky commented on #89
Added.

[2020-03-18 15:22] #89 closed

[2020-03-19 17:31] tonyahowe commented on #89
Thanks, Winona!

On Wed, Mar 18, 2020 at 11:23 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.english/> | LinkedIn
<https://www.linkedi

[2020-03-25 18:01] wsalesky commented on #94
@tonyahowe Sorry it took so long to get back to you! I have a few more hours to spend on this, so why don't we work out a wish list.

I will add the graphs to each work page as well and add a link in the main nav to the LOD pages. Why don't you make a new issue for anything additional?

Also, yes, we can other persons named as long as they have an actionable URL I can gather data from.  Hope you a

[2020-03-25 18:59] wsalesky opened #108 "When viewing a work with page images the footnotes stop working"
See: https://anthologydev.lib.virginia.edu/work/Franklin/franklin-autobiography
and: https://anthologydev.lib.virginia.edu/work/Franklin/franklin-autobiography?view=pageImages

Possibly related: https://anthologydev.lib.virginia.edu/work/Philips/philips-god-reconciling-world

[2020-03-25 19:00] wsalesky opened #109 "Add LOD views to search/browse and works pages"

[2020-03-25 19:56] wsalesky commented on #108
Note to self: Solved the javascript error. However some footnotes are in the tei:back and thus do not load with the page-by-page content. Will have to either, always load them, or selectively load.

[2020-03-25 20:25] wsalesky commented on #108
Fixed.

[2020-03-25 20:25] #108 closed

[2020-03-27 14:20] tonyahowe commented on #94
Thanks, @wsalesky ! I'm hanging in there--I hope you're well, too. I'll make an updated wish list in the issues!

[2020-03-27 14:24] tonyahowe opened #110 "Add selection of long text to coursepack"
I thought I'd made an issue for this already but I cannot find it! We'd like to have a way to add selections of text (say, from a long XML file) to a coursepack. The goal is to offer a way for faculty to excerpt sections for inclusion in a course-specific set of readings. We'd want the TP information (or just the title/author/date) to come in to the excerpt, as well as the text itself and notes fo

[2020-03-27 14:27] tonyahowe commented on #94
Yes, that would be a great addition!

On Tue, Feb 25, 2020 at 10:39 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.english/> | LinkedIn

[2020-03-27 14:28] jobrien62 commented on #94
I’ve got some time for this today and over the weekend. It’s been hard working from home--

From: Tonya Howe <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Friday, March 27, 2020 at 10:27 AM
To: LiteratureInContext/LiC-app <LiC-app@noreply.github.com>
Cc: "O'Brien, John F (jo6p)" <jobrien@virginia.edu>, Mention <mention@noreply.github.com>
Subject:

[2020-03-27 14:44] tonyahowe opened #111 "Adding COINS or ZOTERO connectivity? Create a citation?"
@wsalesky , we'd like to enable users to pull the data pull citations for individual works into their reference tools, like Zotero. I'm not sure what the best way to do this is--if anything needs to go into the XML itself? We have the data, though, in the TEIHeader/sourceDesc, to make a citation, that in MLA form would look like this:

sourceDesc//monogr/author/surname, monogr/author/firstname. "a

[2020-03-27 17:41] wsalesky commented on #111
@tonyahowe I will look into it.

[2020-03-27 17:42] wsalesky commented on #110
@tonyahowe Yes, I remember this was an issue. But seems to have gotten lost. I will need to look into a way to select and save sections of the text, might be a little tricky, but I'm sure we can come up with something.

[2020-04-01 16:49] wsalesky commented on #111
I have added COinS and also a citation to each work page.
<img width="1248" alt="Screen Shot 2020-04-01 at 12 48 20 PM" src="https://user-images.githubusercontent.com/1168206/78164056-2f02bd80-7417-11ea-92f5-61fde8b3e691.png">

Reopen if there are any issues, or changes you would like to see.

[2020-04-01 16:49] #111 closed

[2020-04-02 02:48] wsalesky commented on #109
Note to self:
Individual works pages done. Need to work on integration with layout.
Todo: search/browse pages, layout considerations needed.

[2020-04-06 03:04] wsalesky commented on #94
See: #109

[2020-04-06 03:04] #94 closed

[2020-04-06 15:08] jobrien62 commented on #109
Working on these today and tomorrow, and have a list of things to review. Want to clean it up before sending….. John

From: Winona Salesky <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Sunday, April 5, 2020 at 11:05 PM
To: LiteratureInContext/LiC-app <LiC-app@noreply.github.com>
Cc: "O'Brien, John F (jo6p)" <jobrien@virginia.edu>, Assign <assign@no

[2020-04-08 15:17] wsalesky commented on #110
@tonyahowe Clarification question: Do you want users to be able to highlight and select text sections, or can they select from predetermined 'chunks' of data, such as chapters?

[2020-04-08 15:21] tonyahowe commented on #110
The idea is that the user can highlight and select text sections to add!

On Wed, Apr 8, 2020 at 11:17 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook

[2020-04-08 15:24] wsalesky commented on #110
Okay, thanks. We may run into some conflicts with the hypothesis.js software, but I will see what I can do.

[2020-04-09 17:46] jobrien62 commented on #109
I love the LOD visualizations, both at the level of the individual text and across the corpus. It really does put a premium on excellent TEI, and I'm a little daunted, to be honest, at the work involved in going through the TEI we already have to bring it up to speed. And possibly to enhance, so that publication location would be visually distinct from location mentions (different color?). Or auth

[2020-04-09 17:50] wsalesky commented on #109
@jobrien62 I think I can make the distinct color for the different types of location mentions and different types of persons, I will check the data, but I believe all of that is already in the TEI.

The issue on the Persons and Places graph sounds like a bug. I will try to get it sorted out tomorrow.

[2020-04-12 14:04] jobrien62 commented on #109
Sounds good!

[2020-04-20 21:19] wsalesky commented on #109
@jobrien62 I have made some adjustments to the graphs. Unfortunatly I can not color places and people differently depending on the relationship, because some people and places have multiple relationship types. Dublin is a good example, it is mentioned in Frankenstein and it is also a Place of Publication for Evelina; or, A Young Lady's Entrance into the World.  I added relationship text when you m

[2020-04-27 15:33] wsalesky commented on #110
@tonyahowe @jobrien62
Hi All, I have been working away on this issue and could use a little feedback. It is quite simple to copy a selection of HTML code and save it to a Coursepack documnet function in the database. However this is saved as a (often incomplete such as missing closing tags) string of HTML. I can still display this in the HTML version of the Coursepack, however, when we go to gener

[2020-04-28 13:57] jobrien62 commented on #110
﻿OK, thanks so much. I’ll have to take a look and think on this. Things are a little busy and confused right now in the university world, but I’ll get back to you.  John

From: Winona Salesky <notifications@github.com>
Reply-To: LiteratureInContext/LiC-app <reply@reply.github.com>
Date: Monday, April 27, 2020 at 11:34 AM
To: LiteratureInContext/LiC-app <LiC-app@noreply.github.com>
Cc: "O'Brien, Jo

[2020-04-28 14:12] tonyahowe commented on #110
Yes, let us think about this a little more! We just developed a "punch
list" of sorts, most of the tech side of things seem pretty simple; I will
add the issues to GitHub, and perhaps we can see if there will be a way to
tetris things in to your remaining time. THANK YOU, Winona!

On Tue, Apr 28, 2020 at 9:57 AM jobrien62 <notifications@github.com> wrote:

--
Professor of Literature
Chair, Departm

[2020-04-28 16:15] wsalesky commented on #110
@tonyahowe @jobrien62 No problem and no rush, I know everyone's schedules have been a bit upended.

[2020-05-21 13:54] tonyahowe opened #112 "Menu: "Browse and Search"-->"Titles and Authors""
Given the structure of the site now, we think that the "browse and search" top menu should probably be "titles and authors," since search is something else? And it leads us to lists of titles and authors, so that might make better sense to a viewer.

[2020-05-21 13:57] tonyahowe commented on #10
This was on our punchlist--I'm going to reopen this for me!

[2020-05-21 13:59] tonyahowe opened #113 "Some authors not showing up in the author list from "browse and search" page"
When we click the + sign by some authors, like Bradstreet and Burney, no works show. This is true of several authors on the list, but it’s hard to know why they are not working where others are.

[2020-05-21 14:06] tonyahowe opened #114 "Headnotes?"
We want to be able to add headnotes, or standalone XML files that work as short introductions to the texts and authors, which can be pulled into coursepacks, too. We aren't sure the best way to do this. We have two headnotes in the data structure, now:

- [https://anthologydev.lib.virginia.edu/work/headnotes/bradstreet](https://anthologydev.lib.virginia.edu/work/headnotes/pope)
- [https://antholog

[2020-05-25 13:36] tonyahowe commented on #110
Hi, @wsalesky ! I've opened up a few more issues from our punch list @jobrien62 , one of which seems (headnotes) seems like it may take a little more time, as well. I think that the XML select is the best way to go on this, and I think we should prioritize it. But, if there's any extra time for a slightly more complex feature, thinking about how to incorporate headnotes would be grand!

[2020-05-25 13:38] tonyahowe commented on #114
BTW, I think that the XML selection from long texts should be prioritized (see #110). But, if there's any extra time for a slightly more complex feature, thinking about how to incorporate headnotes would be grand!

[2020-05-25 13:56] wsalesky commented on #110
@tonyahowe Okay I will go ahead and finish work on that feature this week.

[2020-05-25 14:08] wsalesky commented on #114
@tonyahowe Do you picture the headnotes being displayed on a work page? Some other way?  If you are looking to connect them to work records you could connect them via a tei:relation element (https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-relation.html).

[2020-05-25 14:21] tonyahowe commented on #114
We are considering options, but ideally, we'd like it to be something that
could be associated primarily with either the author or the work in the
list of authors and titles. Perhaps in an expanding div underneath? The
idea is that we might in the future have multiple author-focused headnotes
and multiple text-focused headnotes, which could be written by different
people. These could be checked fo

[2020-05-25 14:35] #112 closed

[2020-05-25 14:37] wsalesky commented on #90
@tonyahowe @jobrien62 I think this is resolved. I you give me the thumbs up I will move it to the master branch.

[2020-05-25 14:38] wsalesky commented on #10
@tonyahowe I think this has been added already?

[2020-05-25 14:40] wsalesky commented on #92
Same as #110

[2020-05-25 14:40] #92 closed

[2020-05-25 14:41] wsalesky commented on #109
@tonyahowe @jobrien62 This issue is waiting for review. If it is approved I can move it to the master branch.

[2020-05-25 14:51] tonyahowe commented on #10
Yes! I had forgotten--- and I don't know that I ever tried it out! Will ask
Qs if I need to. Thanks!

On Mon, May 25, 2020 at 10:38 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | F

[2020-05-25 14:52] tonyahowe commented on #90
Yes! Thanks!

On Mon, May 25, 2020 at 10:37 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https://twitter.com/MU_English> | Facebook
<https://www.facebook.com/marymount.english/> | LinkedIn
<https://www.linkedin.c

[2020-05-25 15:16] wsalesky commented on #113
Bug in author id.

[2020-05-25 15:16] #113 closed

[2020-05-25 18:12] tonyahowe commented on #114
So we could add something in each of the headnotes like this:

<relation type="Headnote" active="#SomeIdAssociatedWAuthor #SomeIdAssociatedWText"/>

The idea being we could put any tei:relation@type=headnote in the Author List and/or with a text (depending on @active)? Could we use the xml:id established for texts? We've already got that set up in the XML files, but we don't use xml:ids for author

[2020-05-25 18:19] wsalesky commented on #114
@tonyahowe Yes that is the idea. You could use the persName/@key although I know they do not all have a key, you could use the string from tei:author as well, but an id of some sort is better.

[2020-06-04 15:11] wsalesky commented on #110
@tonyahowe @jobrien62 This feature has been added. Please run some tests and let me know how it works. The selection option for coursepacks floats to the right side of the text (as Hypothesis.js is on the left hand side.)  This bug fix also includes fixes for downloading as PDF and EPUB.

[2020-06-05 12:06] tonyahowe commented on #110
Thanks!! I've begun to play with it: one thing so far, a cardinality issue that comes up after I log in, add a selection to an existing coursepack, and then click "view coursepack" or try to go and see it from the popup that results. SS below:

![Screen Shot 2020-06-05 at 8 02 34 AM](https://user-images.githubusercontent.com/1153464/83874393-5f125980-a703-11ea-9330-9a8aa3afc436.png)

[2020-06-05 13:02] wsalesky commented on #110
Fixed.

[2020-06-05 19:48] tonyahowe commented on #110
Cool! The selections added to coursepacks--like the one for Austen's Lady Susan added to the 280 coursepack--are putting the notes directly into the text, though (see SS1 below). I don't know if this is an issue with notes in coursepacks or adding selections to coursepacks, though I don't. seem to be able to create coursepacks anymore, either. When selecting finch-nightingale.xml to create a. new

[2020-06-08 13:14] wsalesky commented on #110
@tonyahowe I am looking into this today. I think this is a problem with the login function. Will hopefully get it sorted this afternoon.

[2020-06-09 17:27] wsalesky commented on #110
@tonyahowe This should be fixed now. Can you try again?

[2020-06-09 17:31] wsalesky commented on #114
@tonyahowe Circling back to the remaining open issues. There will need to be some sample headnotes before I can code for this (even just one). Do you want to mock up a test headnote or two for me to work with?

[2020-06-09 17:32] wsalesky commented on #109
@tonyahowe @jobrien62 I think this issue has been resolved? Just checking in on the remaining open issues.

[2020-06-09 17:37] tonyahowe commented on #110
Hmmm. Something is still not quite right--I tried to add a selection to an
existing coursepack, and it asked me to login (which I did). But the
selection wasn't added--though there was no visible error--and it doesn't
seem that I was logged into the application.  Usually, your user id appears
at the upper right corner. I also tried logging in as normal, which didn't
change the button in the upper.

[2020-06-09 17:40] wsalesky commented on #110
Hum, that is exactly the issue I thought I resolved. Let me do some more testing. Thanks for your patience.

[2020-06-09 18:04] tonyahowe commented on #114
We have some already! But we don't have them id'd properly, most likely.
Here's one: https://anthologydev.lib.virginia.edu/work/headnotes/behn.
We've got several in the folder /work/headnotes.

On Tue, Jun 9, 2020 at 1:32 PM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sc

[2020-06-09 18:07] wsalesky commented on #114
Okay. So if you can add an id, maybe an xml:id on the TEI root element. Then you will need a relation element, either in the headnote, or in the work TEI, which ever makes the most sense to you. I suppose in the headnote, might work best if you are referencing persons and works.

example:

`<relation type="Headnote" passinve="thisHeadNoteID" active="#SomeIdAssociatedWAuthor #SomeIdAssociatedWText"

[2020-06-11 14:49] wsalesky opened #120 "Add function to reset passwords"
Add a function to update lost passwords. Related to: https://github.com/LiteratureInContext/LiC-app/issues/110

[2020-06-11 17:02] wsalesky commented on #110
@tonyahowe @jobrien62 I think this has been fixed. I added a new issue to deal with the login/forgotten password issue.

[2020-06-19 14:25] tonyahowe commented on #114
Okay, I've added an xml:id in the root element for each headnote, and in the SourceDesc the relations:

`<listRelation>
                    <relation type="headnote" passive="#headnote-equiano" active="#equiano-interesting-narrative"/>
                </listRelation>`

[2020-06-20 18:44] wsalesky commented on #114
Great I will take a look at the code.

[2020-08-10 16:51] tonyahowe commented on #9
I'm not sure where I was with this.... BUT, we still seem to have some coursepack bugs. When I attempt to add a text resulting from a search to an existing coursepack, nothing happens; the popup just stays there until I click "cancel." In this case, I searched for "small-pox" and tried to add the Montagu and the Pope texts in their entirety to the Sample Coursepack.
<img width="1540" alt="Screen S

[2020-08-10 16:53] wsalesky commented on #9
@tonyahowe I suspect a permissions issue. Can you try looking at the console log?  If you are using chrome, you can do View -> Developer -> JavaScript Console.

That should kick up an error.

[2020-08-10 17:13] tonyahowe commented on #109
This looks great! Thank you, Winona!

[2020-08-10 17:16] tonyahowe commented on #9
Here you go:

<img width="544" alt="Screen Shot 2020-08-10 at 1 15 33 PM" src="https://user-images.githubusercontent.com/1153464/89810811-a81fc900-db0b-11ea-911b-ffbb8d27c618.png">

[2020-08-10 17:19] wsalesky commented on #9
@tonyahowe Thanks I will take a look.

[2020-08-13 17:25] #109 closed

[2020-08-13 17:25] #90 closed

[2020-08-13 17:26] wsalesky commented on #48
@tonyahowe @jobrien62 I think this has also been fixed?

[2020-08-13 17:26] #48 closed

[2020-08-13 17:26] #10 closed

[2020-08-16 19:38] tonyahowe commented on #9
One other clue! If I browse by author for a text, check the box(es) to add, and click add to existing coursepack, it works just fine.

[2020-08-17 13:43] wsalesky commented on #9
@tonyahowe Thanks for the additional clue! I hope to get to this early this week. (This summer has been... rough.)

[2020-08-17 15:19] tonyahowe commented on #9
OMG, I know. This summer hasn't been a summer, but one of those
old-fashioned washing machines that s q u e e z e the clothes dry.

On Mon, Aug 17, 2020 at 9:43 AM Winona Salesky <notifications@github.com>
wrote:

--
Professor of Literature
Chair, Department of Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
twitter <https:

[2020-08-24 16:56] wsalesky commented on #9
@tonyahowe How does it look now?

[2020-09-22 14:29] wsalesky opened #124 "Bug in save selection on work page."
Save selection should also allow save full course pack, so should work with no text selected! Currently throws a rangy error

[2020-09-22 17:06] wsalesky commented on #114
@tonyahowe I have added the headnotes functionality. Currently you can only see it for works, as the examples are all linking to works except for addison-steele.xml, however this one does not link to any existing author names. The code will expect the relationship ids to match the author `@key` attributes. Once you have some in place we can test to see if the code is working correctly.

We can cha

[2020-10-08 15:22] jobrien62 commented on #114
Thanks for this! We may want to consider adding such a button as you describe, simply for usability, saving clicks for people. I have more of these and can upload when I get a chance. (which will not be soon, alas) I'll add the relevant code from Tonya's June 19 comment.

[2021-08-18 17:23] tonyahowe opened #129 "Tooltips in coursepacks"
Some users seem to be having difficulty with the two link options in coursepacks, especially when it comes to selections that have been added.

The + button has a tooltip that reads "click to expand text" and the title of the text is also a link (but no tooltip). Is it possible to alter the tooltips on both the + and the title of the text to read as follows:

+ Plus Sign --> "click to expand cours

[2022-08-03 13:34] tonyahowe opened #132 "CSS/XSLT updates"
Need some updates to styling! :)

- need a style for rend="indent2" and "indent3" (double and triple the indentation of rend="indent"?) Currently using it in [The Tempest](https://anthologydev.lib.virginia.edu/work/Shakespeare/shakespeare-tempest)
- STAGE elements: render stage directions smaller, slightly lighter, and italicized; keep indentation same
- SPEAKER elements: can these be rendered in

[2022-09-16 17:08] tonyahowe opened #133 "Remove (or disable?) Public Hypothesis Comments"
Is there a way to allow admins to remove or disable public hypothesis comments on LiC texts? This causes confusion between the authoritative annotations and the general public ones.

[2022-09-16 17:08] tonyahowe opened #134 "Reorder in Coursepacks"
We would like to have a way to reorder items in coursepacks, ideally by drag-and-drop.

[2022-09-16 17:09] tonyahowe opened #135 "Instructor Notes in Coursepacks"
We would like to have a way to allow the creators of coursepacks to add introductory text/comments to the head of the  coursepack as a whole, and possibly to the head of each item in the coursepack.

[2022-09-16 17:19] tonyahowe opened #136 "Login functionality"
I think I figured it out--the login does not work if you select "remember me for 2 weeks". See video attached.

https://user-images.githubusercontent.com/1153464/190694329-7d410f32-9d6c-4327-afd2-2ff198667948.mov

[2022-09-16 17:24] tonyahowe opened #137 "Viewing coursepacks as admin"
When logged in as admin, all coursepacks are not visible.

<img width="705" alt="Screen Shot 2022-09-16 at 1 21 18 PM" src="https://user-images.githubusercontent.com/1153464/190696286-c77dfeda-b4ab-4563-9e17-0a9ad610dfe6.png">

[2022-09-16 17:25] tonyahowe opened #138 "Deleting coursepacks"
Coursepacks seem not able to be deleted by the associated user (or by admin). See video below.

https://user-images.githubusercontent.com/1153464/190696528-a23f6583-e5ca-4ea3-ae41-65a4499d86bb.mov

https://user-images.githubusercontent.com/1153464/190696589-a9728544-f2f2-4b8f-9361-7a903d9cf0cc.mov

[2022-09-21 18:04] wsalesky commented on #137
@tonyahowe Do you want the admin to see all coursepacks? Or just ones created by admin?

[2022-09-21 18:13] wsalesky commented on #138
@tonyahowe Can you test this now? I was able to create a new user, create and delete a coursepack.

[2022-09-21 18:13] wsalesky commented on #136
@tonyahowe Can you test now? I have updated this functionality.

[2022-09-22 21:42] tonyahowe commented on #137
Yes, the admin should see all coursepacks.

On Wed, Sep 21, 2022 at 2:05 PM Winona Salesky ***@***.***>
wrote:

--
Professor of Literature
Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
|
Digital Writing & Narrative Design
<https://marymount.edu/academics/college-of-sciences-and-humanities/school-of-humanities/undergraduat

[2022-09-27 14:03] wsalesky commented on #137
This should be fixed.

[2022-09-30 19:38] tonyahowe commented on #138
I logged in as thowe and couldn't delete the dated test coursepack. I'm using the Brave browser.

[2022-09-30 19:41] tonyahowe commented on #138
I can delete items in the coursepack, but not the coursepack itself.

[2022-09-30 19:45] tonyahowe commented on #136
Fixed!

[2022-09-30 19:45] #136 closed

[2022-10-01 14:11] wsalesky commented on #138
Okay, I will take a look.

[2022-10-02 20:40] wsalesky commented on #138
@tonyahowe Can you try now. Create a few new coursepacks, try to delete your own, and then try to delete yours when logged in as admin.

[2022-10-02 22:03] tonyahowe opened #142 "502 and 503 errors"
We're getting 502 or 503 errors at random points while browsing. I use the Brave browser more frequently. Have you had any like experiences?

[2022-10-03 12:41] wsalesky commented on #133
@tonyahowe This does not appear to be something I can control from the app.

[2022-10-04 18:34] wsalesky commented on #142
@tonyahowe any updates on this?

[2022-10-04 18:34] wsalesky commented on #138
@tonyahowe any updates? Is this working for you?

[2022-10-05 13:15] tonyahowe opened #143 "No save to PDF"
https://github.com/LiteratureInContext/LiC-data/issues/29#issue-1397673045

[2022-10-05 13:19] tonyahowe opened #144 "Labeling in Coursepack creation"
When I add an item to a new coursepack, after searching, I have only the option (seemingly) to add to an existing coursepack. Clicking that then allows you to add to a new coursepack. Perhaps removing the "existing" from the button label here and wherever else? See screenshot:
![Screen Shot 2022-10-05 at 9 17 29 AM](https://user-images.githubusercontent.com/1153464/194070211-01cf9e44-efff-4530-bce

[2022-10-05 13:25] tonyahowe commented on #144
Ah-- It's in the tooltip that pops up, not the button itself:
<img width="817" alt="Screen Shot 2022-10-05 at 9 24 38 AM" src="https://user-images.githubusercontent.com/1153464/194071502-0e35b1fd-6073-4ecf-ae12-7bb55305c0fb.png">

[2022-10-05 13:27] tonyahowe commented on #144
On a related note, on this same page there is a search button/magnifying glass that doesn't seem to do anything?
![Screen Shot 2022-10-05 at 9 26 47 AM](https://user-images.githubusercontent.com/1153464/194071920-dcacc30c-5901-443d-95fd-29d6eeeee235.png)

[2022-10-05 13:36] tonyahowe commented on #138
Okay, I CAN delete a coursepack made by user thowe as admin, but as thowe, I cannot delete a coursepack made by thowe. See video

https://user-images.githubusercontent.com/1153464/194073957-3554aa3e-3718-4f00-be44-749690c35c6b.mov

[2022-10-05 13:50] tonyahowe opened #145 "Saving selections to existing coursepacks"
Having a problem saving selections to coursepacks. Also note need to log in again (which is less of a problem than the saving!):

https://user-images.githubusercontent.com/1153464/194076963-1619766d-672a-410b-8a7a-bbc4c616bed3.mov

[2022-10-05 13:55] tonyahowe commented on #134
@jobrien62 suggests the possibility of also re-ordering by author or date of publication (this might be problematic because some have dates of publication in 2021-2 (not a lot, but some)

[2022-10-05 13:58] tonyahowe opened #146 "Display of notes in epub"
Notes are being displayed in-line in epub. I don't know how epubs work and what the best way is to access notes, but at the bottom or the side or by click and return at the end? Do epubs allow popups?
<img width="1146" alt="Screen Shot 2022-10-05 at 9 57 10 AM" src="https://user-images.githubusercontent.com/1153464/194078986-d9f00a14-42f4-4dc3-a2e4-6b1e671a31f8.png">

[2022-10-05 14:02] tonyahowe opened #147 "Save to Existing Coursepack (whole text)"
Save whole text from search (search: "robinson crusoe") to existing coursepack by check box not working

https://user-images.githubusercontent.com/1153464/194079685-44862a1e-9f9c-492f-898b-1ff79a6a6421.mov

[2022-10-05 16:36] tonyahowe opened #148 "Add Contributor Release Form *"
Can we add a link/button called "Contributor Release Form" to the Contributors page, in the spot below? That link should go to a page with a form embedded in it. Embed code below the image; the sizing should be dynamic, though.
<img width="1074" alt="Screen Shot 2022-10-05 at 12 33 10 PM" src="https://user-images.githubusercontent.com/1153464/194113952-4df5b9c9-e2f9-4bdf-a118-8c8dd2dc702d.png">

`

[2022-10-06 15:50] wsalesky commented on #147
Can you try now?

[2022-10-06 15:53] wsalesky commented on #145
This is most likely the same as https://github.com/LiteratureInContext/LiC-app/issues/147

Try now, should be resolved.

[2022-10-06 15:57] wsalesky commented on #144
@tonyahowe which one? The one followed by new, clears or 'resets' you search, taking you back to the full list of titles. The other one, near the search box, submits the search string.

[2022-10-06 16:00] wsalesky commented on #144
text in tool tip is fixed.

[2022-10-06 16:00] #144 closed

[2022-10-06 16:01] wsalesky commented on #138
@tonyahowe may be the same issue as: https://github.com/LiteratureInContext/LiC-app/issues/147
Please try now.

[2022-10-06 16:03] #124 closed

[2022-10-06 17:56] wsalesky commented on #134
@tonyahowe Currently the coursepacks can be sorted by author, title or publication date. (This is not a permanent reorder, just a different way to view it).

I'm working on a drag and drop that the owner of the coursepack can use to have a predefined order.

[2022-10-07 21:15] tonyahowe commented on #138
Still can't seem to delete as thowe; see video!

https://user-images.githubusercontent.com/1153464/194653469-7f08eabb-409a-457d-bc9c-d6d1986c3bf9.mov

[2022-10-07 21:27] tonyahowe commented on #145
Don't seem able to do this, either, yet; see video

https://user-images.githubusercontent.com/1153464/194657556-c9279698-6ec7-4bed-bb01-b5aa14b2a2bc.mov

[2022-10-07 21:29] tonyahowe commented on #145
However, I can save selections as admin:

https://user-images.githubusercontent.com/1153464/194658505-5a6c8f2f-3924-4969-97d2-cd3f2a764a30.mov

[2022-10-07 21:31] wsalesky commented on #145
@tonyahowe okay. There is clearly some sort of permissions mismatch between the dev server and my test server. I will see what I can do to work it out.

[2022-10-07 21:31] tonyahowe commented on #147
Nope--still can't do this (or selections) as thowe. Can as admin, though.

[2022-10-07 21:32] tonyahowe commented on #143
It doesn't look like we can save to PDF anymore

[2022-10-07 21:33] tonyahowe commented on #120
This would definitely be helpful! :)

[2022-10-07 21:41] wsalesky commented on #145
Can you do any of these if you create a new user? (Just trying to figure out where the permission issue is)

[2022-10-07 22:46] tonyahowe commented on #145
Okay, i's very weird. When I create a coursepack as a new user (test, test1), that works--I have that first selection in the new coursepack. But when I try to add anything to that coursepack (selection or whole text), it doesn't save.

[2022-10-09 19:30] wsalesky commented on #145
Okay, this time I really think I have it. Please try:
1. creating a new user
2.  creating a coursepack,
3.  logging out,
4. logging back in,
5. deleting items in coursepack
6. adding new items
7. adding new selections
8. deleting the whole coursepack

I did all of this with a new user on the dev site. So you should be able to as well. We may have to do some adjustements for the permissions on any

[2022-10-09 21:53] tonyahowe commented on #145
Yes, it all works!! I uncovered a new problem though. I'll send you the screencast via email, but basically sometimes when I search (specifically, for "lady susan"), I get a 500 server error (and it also threw a jetty error when I searched for "lady susan: inadvertently).

[2022-10-09 22:07] tonyahowe opened #150 "Delete 9/12/22 Coursepack"
It seems to be impossible to delete the 9/12/22 coursepack--the title has forward slashes in it, which get confused with the URL structure. Can you delete this coursepack at the source? And we will need (sometime in the nearish future) some rails on the titling of the coursepacks so this doesn't happen in the future! :)

[2022-10-10 16:47] wsalesky commented on #150
@tonyahowe I will delete it and add a script to strip the slashes from filenames.

[2022-10-10 17:21] wsalesky commented on #150
Okay I think this has been resolved.

[2022-10-10 17:21] #150 closed

[2022-10-10 17:28] #133 closed

[2022-10-10 21:57] tonyahowe commented on #134
I don't think the sort by feature works in the coursepack view--at least, it's not working for the EN231 coursepack I'm preparing. I've tried both author, date, and title--and it remains in the order of addition.

[2022-10-10 22:03] tonyahowe opened #151 "Important: Save selections saving whole text?"
It looks like the save selection feature is actually saving the whole text, not just the highlighted selection--though the coursepack lists the material as "selections."

https://user-images.githubusercontent.com/1153464/194959161-6d1be160-b1d2-4a11-93d5-a739a5e84e28.mov

[2022-10-10 23:02] wsalesky commented on #134
@tonyahowe That is fine, lets just figure out how we want it to work and go from there.

[2022-10-10 23:09] wsalesky opened #152 "Searching with quotes causes 500 error"
https://github.com/LiteratureInContext/LiC-app/issues/145

[2022-10-10 23:10] wsalesky commented on #145
@tonyahowe I opened a new issue for the search problem. Can I close this one?

[2022-10-11 09:16] tonyahowe commented on #145
I think so—I opened another issue for the selection problem. I didn’t notice it before because I was just checking to see if there were items saving to the coursepack, which there were. It turns out that the content wasn’t actually selected though.

Sent from my mobile; please forgive typos

[2022-10-11 13:08] wsalesky commented on #145
@tonyahowe I just tested the saving a selection and it worked for me. See: https://anthologydev.lib.virginia.edu/coursepack/WSTestselection.5

Could you have to use the 'expand' button to see the selected text. Clicking on the title takes you to the work. This may be a user interface issue, not a javascript issue. Can you just test the selection function again and confirm that you can save a selec

[2022-10-11 13:09] wsalesky commented on #151
see comment here: https://github.com/LiteratureInContext/LiC-app/issues/145

[2022-10-11 13:12] wsalesky commented on #152
Clarification to myself, this is not related to quotes.
This search works:
https://anthologydev.lib.virginia.edu/search.html?query=%22world+to+himself%22&field=keyword

This does not:
https://anthologydev.lib.virginia.edu/search.html?query=%22lady+susan%22&field=keyword

Maybe some sort of index corruption?

[2022-10-11 16:38] wsalesky commented on #143
@wsalesky Note to self:

There are errors in the PDF generation due to things like duplicate IDs. This will continue to be an issue for coursepacks. Will need some way around dup ids while still being able to use functions like footnotes and internal links.

This is a good test case coursepack:
https://anthologydev.lib.virginia.edu/coursepack/EN231LiteratureoftheBritishIsles4

[2022-10-11 16:40] wsalesky commented on #152
@wsalesky Note to self:
This happens on my local version as well, only for "lady susan" on a keyword search, no other keyword searches with quotes have generated this error.

Error generated by search:
HTTP ERROR 500 javax.servlet.ServletException: javax.servlet.ServletException: An error occurred while processing request to /exist/apps/LiC/search.html: An unknown error occurred: String index out

[2022-10-11 17:59] #148 closed

[2022-10-11 18:00] tonyahowe commented on #152
This is soooo weird!

[2022-10-11 18:07] wsalesky commented on #152
It really is. Let me know if you find any other search that kicks up that error, so far it is only for lady susan, in quotes.

[2022-10-11 18:09] wsalesky commented on #143
@tonyahowe Do you want to be able to follow internal links in the pdf and epub versions? If not, I will just not translate id from the TEI, if you do I will have to come up with some way of processing them so they still work.

[2022-10-11 18:10] wsalesky commented on #151
@tonyahowe Closing this as it is the same as #145, and I'm getting confused with both open. ;)

[2022-10-11 18:10] #151 closed

[2022-10-11 18:11] wsalesky commented on #147
@tonyahowe This can be closed now, correct?

[2022-10-11 18:15] tonyahowe commented on #145
Yes, this works--thanks! It also saves multiple selections from the same text. Some things to consider as signage for users:

1.) tooltip or title on "expand works"--clarifying there? "expand works to see selections"?
2.) turn the word "selections from" into a link that expands?
3.) change the text "selected text" heading each selection to "selected text [number if more than one selection from sam

[2022-10-11 18:17] tonyahowe commented on #143
The PDFs should basically use the note ids to point readers to the endnotes/footnotes; they don't need to be live, though any links out from the notes should be there.

For ePubs, the notes should appear not in-line with the regular text, as is currently the case with ePubs--I'm not sure if ePubs can do popups, or if they should also (as with PDFs) appear like references to static footnotes/endnot

[2022-10-11 18:21] wsalesky commented on #143
Okay, if they do not need to be live, I am going to turn that feature off at least for now. We can revisit at a later date.

[2022-10-11 18:22] wsalesky commented on #145
Yay! I am going to close this and open a new issue for the coursepack usability. I will add your comments to that issue.

[2022-10-11 18:22] #145 closed

[2022-10-11 18:22] wsalesky opened #153 "Coursepack usability"
For selections from a work:
1.) tooltip or title on "expand works"--clarifying there? "expand works to see selections"?
2.) turn the word "selections from" into a link that expands?
3.) change the text "selected text" heading each selection to "selected text [number if more than one selection from same text] from [title]"--so, "selected text 1 from Robinson Crusoe...." or, if only 1 selection from

[2022-10-11 18:28] wsalesky commented on #143
Fixed.

[2022-10-11 18:28] #143 closed

[2022-10-12 14:05] wsalesky commented on #146
@tonyahowe I have a fix for the footnote issue, but the EPUB layout needs a lot of work in general. How much time do you want put into it? I would estimate up to 5 hours to get it to look and work correctly.

[2022-10-12 14:10] wsalesky commented on #138
@tonyahowe I think this can be closed?

[2022-10-12 14:12] wsalesky commented on #114
@tonyahowe is this still an issue? Or can it be closed?

[2022-10-12 14:13] #110 closed

[2022-10-12 15:33] #138 closed

[2022-10-12 15:35] tonyahowe commented on #134
I think if the sort button works, that would be grand. Though it would be good to have a way to manually order things, also (down the road; less important now, if the sort button works).

[2022-10-12 15:36] #9 closed

[2022-10-12 19:57] tonyahowe commented on #146
I think 5 hours sounds like a plan! Yeah, let’s do that. There are a few tweaks to the xslt - html that shouldn’t take too long, too; I’ll make an issue for that.

Sent from my mobile; please forgive typos

[2022-10-13 19:14] wsalesky commented on #134
Sort button works.

[2022-10-13 21:12] wsalesky commented on #153
@tonyahowe I have made some improvements to the coursepack view based on your email feedback. Let me know what you think and what else you would like.

[2022-10-14 13:56] tonyahowe commented on #129
This looks great! One problem: there's a typo in the tool tip
<img width="371" alt="Screen Shot 2022-10-14 at 9 52 10 AM" src="https://user-images.githubusercontent.com/1153464/195864682-d066aaef-935e-4504-845a-63b686f0b36d.png">

[2022-10-14 14:35] wsalesky commented on #129
Opps! Sorry about that. Corrected.

[2022-10-14 14:35] #129 closed

[2022-10-18 18:02] tonyahowe opened #154 "Print/PDF/ePub formatting"
Notes to self here for the moment!

- in PDFs, annotations are at the end of the text, which is great--the space between the note identifier and the content of the annotation is wonky when we use the new and possibly longer tags for the note ids (the two overlap sometimes). Instead of having the note id at the left and then the note content indented/tabbed in and blocked, can we put the note conte

[2022-10-18 18:06] tonyahowe opened #155 "Linked Data issues"
I get an error when attempting to reach the text through the list of persons.

https://user-images.githubusercontent.com/1153464/196509709-3f08d6aa-a678-490c-86de-d8426c49f30a.mov

Also, people in the persons list are either "mention" or "person"--what is the logic here? What differentiates them? There is also some weird text appearing:

<img width="778" alt="Screen Shot 2022-10-18 at 1 57 26 PM"

[2022-10-18 19:35] wsalesky opened #156 "Linked data visualizations - updates"
In the Linked Data visualizations, we need to ignore the individuals named in the EDITOR element(s) in the persons/places network graph and the list of persons. For instance, my name/John's name come up as authors/persons mentioned in the texts, and they shouldn't.

In the persons mentioned list, mentions have a pair of parentheses after the word mention, like so--Mention (). Is there a reason for

[2022-10-18 19:35] wsalesky opened #157 "persons mentioned list"
In the persons mentioned list, mentions have a pair of parentheses after the word mention, like so--Mention (). Is there a reason for this? Can we delete the ()?

[2022-10-18 19:36] wsalesky commented on #132
I broke out some of these into other issue.

[2022-10-18 23:10] wsalesky commented on #155
Fixed.

They should have 'author' or 'editor' if that is the persName role in the TEI, otherwise they are 'mentioned' in the work. There is a number after the mentioned to let you know how many times in each particular work they are mentioned.  The person data was out of date, not sure why. But that is why this function was not working.

[2022-10-18 23:10] #155 closed

[2022-10-18 23:11] wsalesky commented on #157
This is fixed. the mention () should have the number of times the person is mentioned in the work. This feature is now working.

[2022-10-18 23:11] #157 closed

[2022-10-18 23:11] wsalesky commented on #156
Done.

[2022-10-18 23:12] #156 closed

[2022-10-26 16:57] wsalesky commented on #135
@tonyahowe Please checkout the new feature that will allow you to edit the instructor notes. If you like how it works we can add an option to add/edit notes for each work.

You will have to be logged on as admin or the owner of the coursepack to see the edit button.

-Winona

[2022-11-02 13:32] wsalesky commented on #154
@tonyahowe The PDF and EPUB have both been updated. Can you take a look and let me know if there are other changes you would like to see? I had to move the notes to the end of the page for EPUB as the toggle visibility did not work across all EPUB readers.

I will investigate the toggle visibility issue further.

[2022-11-10 17:44] tonyahowe commented on #153
Good additions! The title caps in the tooltips are inconsistent, it seems (some words are capitalized, others not), but this is a minor issue. I think it would look better to have all non-preposition or -article words capitalized, as in "Expand Coursepack Works to See Text," though it gets a bit long. I like the addition of the counter to the selections. There seems to be an extra space right afte

[2022-11-10 17:55] tonyahowe commented on #154
That makes sense. I have to go through everything with a finer eye, but a couple things come to the surface now:

1. In the [Wheatley text](https://anthologydev.lib.virginia.edu/work/Wheatley/wheatley-poems) the browser display is correct, but the PDF display duplicates things at the end; I'm not sure how far this goes, but for instance, the table of contents that's noted at the end is duplicated

[2022-11-10 17:59] tonyahowe opened #161 "Line Numbers"
The line numbers are posing some interesting problems, especially in longer texts (like Shakespeare's Tempest). It's just very overwhelming to have each line numbered and the numbers appearing at the beginning. I am not quite sure what the solution is, but in an ideal world, we'd prefer to:

1. Show line numbers for every 5 lines (that is, only show the numbers at 5, 10, 15, etc)
2. Put the line n

[2022-11-14 17:38] wsalesky commented on #161
This should be fixed. Close if you are satisfied.

[2022-11-14 18:46] tonyahowe commented on #161
The PDF looks great! The ePUB now doesn't render line breaks, but the line numbers are at the end. Can we do the same for the regular view website? That is, line numbers on all with line numbers in increments of 5 to the right?
<img width="1138" alt="Screen Shot 2022-11-14 at 1 46 08 PM" src="https://user-images.githubusercontent.com/1153464/201741010-f9383739-6e69-42e6-81b0-b1518ae693fe.png">

[2022-11-14 19:33] wsalesky commented on #161
@tonyahowe Can you send me a screen shot of the epub issue? And a link to the test record.
Thanks! (Also, yes, I can make the change to the HTML view as well. )

[2022-11-14 19:57] wsalesky commented on #161
I added this to the HTML view.

For the ePUB, I found the error you mentioned when opening the file in ibooks on my macbook. It looks like it is not reading the css file. I will troubleshoot. Please let me know if you are using a different app to open the epub files, I want to test on multiple platforms. It works nicely in the Firefox epub extension.

[2022-11-17 22:03] #161 closed

[2022-11-17 22:05] wsalesky commented on #161
@tonyahowe This fixed the issue for me. How does it look for you?

[2022-11-19 18:15] tonyahowe opened #168 "XLST/Rendering and headnote authorship"
There seem to be 4 different places where headnote authorship is displayed in the app:

1. author/title list (under the associated xml file)
2. on headnote page directly under the title
3. on headnote page after 2, above
4. in the citation

These places all seem to draw on different elements/locations in the XML. It is unclear which, and creators are not consistent (which is a problem!). Further,

[2022-11-21 13:05] wsalesky commented on #168
@tonyahowe Is this just for the TEI that are Headnotes or across the board for all TEI records?

[2022-11-21 13:26] tonyahowe commented on #168
This is just for the headnotes!

On Mon, Nov 21, 2022 at 8:06 AM Winona Salesky ***@***.***>
wrote:

--
Professor of Literature
Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
|
Digital Writing & Narrative Design
<https://marymount.edu/academics/college-of-sciences-and-humanities/school-of-humanities/undergraduate-programs/

[2022-11-21 13:39] wsalesky commented on #168
Is there a way to distinguish headnotes from the other TEI records in the TEI?

[2022-11-21 15:31] tonyahowe commented on #168
They are all in the head notes folder inside data.

On Mon, Nov 21, 2022 at 8:39 AM Winona Salesky ***@***.***>
wrote:

--
Professor of Literature
Literature & Languages
<https://www.marymount.edu/Academics/School-of-Arts-Sciences/Undergraduate-Programs/English-(B-A-)>
|
Digital Writing & Narrative Design
<https://marymount.edu/academics/college-of-sciences-and-humanities/school-of-humanities/unde

[2022-11-21 15:44] wsalesky commented on #168
How does it look now?

[2022-11-27 14:35] tonyahowe commented on #168
This looks great! Only one thing: the citation doesn't include authorship (including possibility of two authors). The citation should use surname, forename for all first authors, and forename surname if a second/third/fourth author is noted. As follows:

Howe, Tonya and Leane Dondapati. "Headnote for Shakespeare." [then the rest of the citation].

Note that _Literature in Context: An Open Antholog

[2022-11-27 15:38] wsalesky commented on #168
@tonyahowe How does it look now?

[2022-11-27 15:45] tonyahowe commented on #168
Maybe it's not refreshing? It looks good except for the title of the headnote/XML page missing and the italics on Literature in Context: An Open Anthology

<img width="1699" alt="Screen Shot 2022-11-27 at 10 44 27 AM" src="https://user-images.githubusercontent.com/1153464/204144166-e3124f57-0f46-4f0f-aa70-7007601aaf51.png">

[2022-11-27 15:48] wsalesky commented on #168
Opps! I forgot to merge the branch. You will need to do a hard refresh, but it should be showing up now.

[2022-11-27 18:26] tonyahowe commented on #168
SWEET! Looks great. <3